# Processing Twitter sentiment

In [65]:
#set the working directory
import os
os.chdir("/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project/")

#check
os.getcwd()

'/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project'

## Loading tweet data

We include tweets about the BCE, which is the entity in charge of protecting the value of the euro, but also tweets about debt crisis in Europe, because this can negatively impact the expectations around the euro. Also tweets about the economy of Europe, because this can influence the expectations of economic agents around the Euro. Specially relevant those countries with sovereing debt problems. I have included countries that experienced high interest rates during the 2008 economic crisis (above 6%, e.g., Spain or Greece; [link](https://en.wikipedia.org/wiki/File:Long-term_interest_rates_(eurozone).png)) and countries that currently having a percentage of debt respect GDP above 85.8%, which is the average of the Euro area ([link](https://www.statista.com/statistics/269684/national-debt-in-eu-countries-in-relation-to-gross-domestic-product-gdp/)). This is specially relevant because the BCE not only acts to preserve the value of the euro but to avoid the bankruptcy of the members states, and both goals can be incompatible in certain circumstances (e.g., buy EU debt when at the same time you have to fight against inflation raising the interest rates). It is worth to mention that the Euros can be seen as liabilities that it has respect to those having euros. Of course, today we do not have gold standard, so we cannot go to the ECB ansd ask for an exchange in gold. However, the ECB has a mandate to control the value of the Euro so those with Euros will not lose value, because of this, there is a goal of 2% inflation per year, that is the limit. For example, if for eany reason there is an increase of inflation (e.g., due to high energy prices), the ECB should use its assets to buy Euros and hence remove them from circulation, this would decrease the offer of Euros, and hence increase the value of the currency. But what happens if the ECB has not enough assets to compensate? or he has assets of low quality like for example bonds from European countries with debt problems? The ECB could have difficulties to use gain capitalization through these assets and use it to stabilize Euro's value. The economic agents know this because they can see the balance of the ECB, and they can decide to go away from Euro. This sentiment of the economic agents for the Euro is what I am trying to catch here, using twitter for that.

I am interested in the expectations of the economic agents about the Euro. If mane economic agents think and act in the same way, this is going to influence the demand and value of the currenct. For example, selling their euros because they expect a devaluation of the currency in the near future due to low confidence in Europe's economy. I am trying to capture the echoes of these expectations in twitter.

This would be relevant for any componay interested in the prediction of currencies. If the consideration of the sentiment aroung the currency can help to improve predictions, they could do more advantageous trades. For example, for an american company doing business in Europe.

In [66]:
#read json files about BCE
import pandas as pd
ecb_search = pd.read_json("data/json_files/search_euro_bank_twitter_1999_1_1.json", lines=True)
ecb_hashtag = pd.read_json("data/json_files/hashtag_euro_bank_twitter_1999_1_1.json", lines=True)

We are loading the json files with the tweets as pandas data.frames:

In [67]:
ecb_search

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card
0,snscrape.modules.twitter.Tweet,https://twitter.com/Andy_Sayad/status/15484534...,2022-07-16 23:44:10+00:00,🔥🔥🔥Less than a week left till July 21. All Eur...,🔥🔥🔥Less than a week left till July 21. All Eur...,1548453468989693952,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,2,...,NaN,None,NaN,None,None,None,None,[Nordstream1],None,None
1,snscrape.modules.twitter.Tweet,https://twitter.com/rockisland48/status/154844...,2022-07-16 23:29:21+00:00,@AnanSeven1 Not really. His strg sanc’s agst P...,@AnanSeven1 Not really. His strg sanc’s agst P...,1548449741373001728,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,1,...,NaN,None,1.548427e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None,None
2,snscrape.modules.twitter.Tweet,https://twitter.com/unbanksyETH/status/1548448...,2022-07-16 23:22:47+00:00,QE almost guaranteed (if not already) to be in...,QE almost guaranteed (if not already) to be in...,1548448085549862913,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,3,...,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,None,None,None,None,None,None
3,snscrape.modules.twitter.Tweet,https://twitter.com/P_CryptoCoin/status/154844...,2022-07-16 23:02:47+00:00,European Central Bank hints at PoW-based crypt...,European Central Bank hints at PoW-based crypt...,1548443053580378114,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,{'_type': 'snscrape.modules.twitter.SummaryCar...
4,snscrape.modules.twitter.Tweet,https://twitter.com/mendohenriques/status/1548...,2022-07-16 22:50:03+00:00,Opponents of embattled PM Mario Draghi are doi...,Opponents of embattled PM Mario Draghi are doi...,1548439848188489728,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,1,...,NaN,None,NaN,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474268,snscrape.modules.twitter.Tweet,https://twitter.com/BBCWorld/status/5929582,2007-03-08 12:52:14+00:00,The European Central Bank raises its key inter...,The European Central Bank raises its key inter...,5929582,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474269,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/5909477,2007-03-07 18:10:33+00:00,The European Central Bank is expected to raise...,The European Central Bank is expected to raise...,5909477,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474270,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/5369405,2007-02-08 13:00:17+00:00,The European Central Bank keeps its key intere...,The European Central Bank keeps its key intere...,5369405,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474271,snscrape.modules.twitter.Tweet,https://twitter.com/BBCWorld/status/5369342,2007-02-08 12:51:03+00:00,The European Central Bank keeps its key intere...,The European Central Bank keeps its key intere...,5369342,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,NaN,None,None,None,None,None,None,None
474272,snscrape.modules.twitter.Tweet,https://twitter.com/BBCBusiness/status/2622813,2007-01-11 12:50:45+00:00,The European Central Bank keeps its key euro...,The European Central Bank keeps its key euro...,2622813,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,0,...,NaN,None,NaN,None,None,None,None,None,None,None

In [68]:
#read json files about debt crisis and European economy
debt_crisis_search = pd.read_json("data/json_files/search_eu_debt_crisis_twitter_1999_1_1.json", lines=True)
eu_economy_search = pd.read_json("data/json_files/search_european_union_economy_twitter_1999_1_1.json", lines=True)

In [69]:
#read json files about the economy of specific European countries that had debt problems at some point
    #https://en.wikipedia.org/wiki/European_debt_crisis
iceland_economy_search = pd.read_json("data/json_files/search_iceland_economy_twitter_1999_1_1.json", lines=True)
portugal_economy_search = pd.read_json("data/json_files/search_portugal_economy_twitter_1999_1_1.json", lines=True)
italy_economy_search = pd.read_json("data/json_files/search_italy_economy_twitter_1999_1_1.json", lines=True)
ireland_economy_search = pd.read_json("data/json_files/search_ireland_economy_twitter_1999_1_1.json", lines=True)
greece_economy_search = pd.read_json("data/json_files/search_greece_economy_twitter_1999_1_1.json", lines=True)
spain_economy_search = pd.read_json("data/json_files/search_spain_economy_twitter_1999_1_1.json", lines=True)
cyprus_economy_search = pd.read_json("data/json_files/search_cyprus_economy_twitter_1999_1_1.json", lines=True)
slovenia_economy_search = pd.read_json("data/json_files/search_slovenia_economy_twitter_1999_1_1.json", lines=True)
france_economy_search = pd.read_json("data/json_files/search_france_economy_twitter_1999_1_1.json", lines=True)
belgium_economy_search = pd.read_json("data/json_files/search_belgium_economy_twitter_1999_1_1.json", lines=True)
croatia_economy_search = pd.read_json("data/json_files/search_croatia_economy_twitter_1999_1_1.json", lines=True)

We are going to use also tweets about the different presidents of the ECB during their mandate. This can be another proxy of the sentiment around the institution in charge of preserving the value of the Euro. We only consider tweet for the time window they were presidents of the ECB.

In [70]:
trichet_search = pd.read_json("data/json_files/search_trichet_twitter.json", lines=True)
    #searches for Draghi and Lagarde do not work

We are not using tweets about the USD because it is possible that the demand of US dollars increases (e.g., due to fears of recession and the corresponding search for safe heavens as it still has this reputation), but at the same time people can be unsatified with the way that the FED deals with inflation. In that scenario, the sentiment around USD in twitter would be negative in general, but it its demand can still increases.

In [71]:
#process json file
    #https://www.kaggle.com/code/prathamsharma123/clean-raw-json-tweets-data/notebook
print(ecb_search.shape)
    #as many rows as tweets
    #as many columns as features in each tweet

(474273, 28)

In [72]:
#see features
print(ecb_search.columns)

Index(['_type', 'url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card'],
      dtype='object')

In [73]:
#get all columns for the first tweet
print(ecb_search.iloc[0, :])

_type                                  snscrape.modules.twitter.Tweet
url                 https://twitter.com/Andy_Sayad/status/15484534...
date                                        2022-07-16 23:44:10+00:00
rawContent          🔥🔥🔥Less than a week left till July 21. All Eur...
renderedContent     🔥🔥🔥Less than a week left till July 21. All Eur...
id                                                1548453468989693952
user                {'_type': 'snscrape.modules.twitter.User', 'us...
replyCount                                                          1
retweetCount                                                        0
likeCount                                                           2
quoteCount                                                          0
conversationId                                    1548453468989693952
lang                                                               en
source              <a href="http://twitter.com/download/iphone" r...
sourceUrl                          http://twitter.com/download/iphone
sourceLabel                                        Twitter for iPhone
links                                                            None
media                                                            None
retweetedTweet                                                    NaN
quotedTweet                                                      None
inReplyToTweetId                                                  NaN
inReplyToUser                                                    None
mentionedUsers                                                   None
coordinates                                                      None
place                                                            None
hashtags                                                [Nordstream1]
cashtags                                                         None
card                                                             None
Name: 0, dtype: object

In [74]:
#check that the id is unique for each tweet
print(ecb_search["id"].is_unique)
print(ecb_hashtag["id"].is_unique)
print(debt_crisis_search["id"].is_unique)
print(eu_economy_search["id"].is_unique)
print(iceland_economy_search["id"].is_unique)
print(portugal_economy_search["id"].is_unique)
print(italy_economy_search["id"].is_unique)
print(ireland_economy_search["id"].is_unique)
print(greece_economy_search["id"].is_unique)
print(spain_economy_search ["id"].is_unique)
print(cyprus_economy_search["id"].is_unique)
print(slovenia_economy_search["id"].is_unique)
print(france_economy_search["id"].is_unique)
print(belgium_economy_search["id"].is_unique)
print(croatia_economy_search["id"].is_unique)
print(trichet_search["id"].is_unique)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [75]:
#bind data.frames of ecb search and ecb hashtag
tweets_df = ecb_hashtag.append([ecb_search, 
                                debt_crisis_search, 
                                eu_economy_search, 
                                iceland_economy_search,
                                portugal_economy_search,
                                italy_economy_search,
                                ireland_economy_search,
                                greece_economy_search,
                                spain_economy_search ,
                                cyprus_economy_search, 
                                slovenia_economy_search, 
                                france_economy_search,
                                belgium_economy_search,
                                croatia_economy_search,
                                trichet_search])
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
...,...,...,...
24622,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
24623,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et exécutif européen est...
24624,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
24625,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
24626,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [76]:
#reset the indeces to avoid problems when indexing
tweets_df = tweets_df.reset_index(drop=True)
    #use drop drop parameter to avoid the old index being added as a column
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
...,...,...,...
2427801,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
2427802,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et exécutif européen est...
2427803,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
2427804,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
2427805,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [77]:
#check we have the expected number of rows
#tweets_df.shape[0] == ecb_search.shape[0] + ecb_hashtag.shape[0] + debt_crisis_search.shape[0] + eu_economy_search.shape[0] + spain_economy_search.shape[0] + slovenia_economy_search.shape[0]

In [78]:
#release space
del([ecb_search, 
     debt_crisis_search, 
     eu_economy_search, 
     iceland_economy_search,
     portugal_economy_search,
     italy_economy_search,
     ireland_economy_search,
     greece_economy_search,
     spain_economy_search ,
     cyprus_economy_search, 
     slovenia_economy_search, 
     france_economy_search,
     belgium_economy_search,
     croatia_economy_search,
     trichet_search])
import gc
gc.collect()

0

In [79]:
#check for duplicated IDs
tweets_df["id"].duplicated().any()

True

In [80]:
#take a look to one of the duplicated IDs
example_duplicated_id = tweets_df[tweets_df["id"].duplicated()].iloc[2,:].loc["id"] #get the ID

#get the URL for all tweets having the example ID and check if there are identical URLs
tweets_df.loc[tweets_df["id"] == example_duplicated_id, "url"].duplicated().any()
    #tweets with the same ID have the same URL, so they are the same tweet

True

In [81]:
#remove tweets with a duplicated id
tweets_df = tweets_df.drop_duplicates(subset=['id'])
tweets_df.shape

(2336081, 28)

In [82]:
#check languages
import numpy as np
np.unique(tweets_df["lang"])

array(['am', 'ar', 'bg', 'bn', 'ca', 'ckb', 'cs', 'cy', 'da', 'de', 'el',
       'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gu', 'hi', 'ht', 'hu',
       'hy', 'in', 'is', 'it', 'iw', 'ja', 'ka', 'kn', 'ko', 'lt', 'lv',
       'ml', 'mr', 'my', 'ne', 'nl', 'no', 'or', 'pa', 'pl', 'ps', 'pt',
       'qam', 'qht', 'qme', 'qst', 'ro', 'ru', 'sd', 'si', 'sl', 'sr',
       'sv', 'ta', 'te', 'th', 'tl', 'tr', 'uk', 'und', 'ur', 'vi', 'zh',
       'zxx'], dtype=object)

In [83]:
#see tweets not in english
sum(tweets_df["lang"] != "en")

226488

In [84]:
#select only tweets in english
tweets_df_en = tweets_df[tweets_df["lang"] == "en"]
tweets_df_en.shape
    #CHECK IF THE SENTIMENT MODEL USED CAN DEAL WITH OTHER LANGUAGES

(2109593, 28)

It seems that "rawContent" shows the raw tweet content, while "renderedContent" show the strings that would bet shown by the web app ([link](https://github.com/JustAnotherArchivist/snscrape/issues/479)).

We are going to use the raw tweet because it seem it could have more information. They do not seem to be very different anyways:

In [85]:
tweets_df_en.loc[:, "rawContent"].iloc[0:10,]

1     #ECB Bond Tool Seen Having No Limits as Steepe...
2     #Digitaleuro to be more efficient as a means o...
3     #Digitaleuro to be more efficient as a means o...
4     .@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
5     Another Big Week for Central B(W)ankers Ahead:...
6     Qualified today as an #ECB foundation cricket ...
7     #Jaws is nothing against this:\n\nby @topdownc...
8     #DXY monthly chart: my ultimate view. There is...
9     wow what a moment \n#vitalityblast #ECB @engla...
10    #ECB should take loan from #BCCI to upgrade th...
Name: rawContent, dtype: object

In [86]:
tweets_df_en.loc[:, "renderedContent"].iloc[0:10,]

1     #ECB Bond Tool Seen Having No Limits as Steepe...
2     #Digitaleuro to be more efficient as a means o...
3     #Digitaleuro to be more efficient as a means o...
4     .@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
5     Another Big Week for Central B(W)ankers Ahead:...
6     Qualified today as an #ECB foundation cricket ...
7     #Jaws is nothing against this:\n\nby @topdownc...
8     #DXY monthly chart: my ultimate view. There is...
9     wow what a moment \n#vitalityblast #ECB @engla...
10    #ECB should take loan from #BCCI to upgrade th...
Name: renderedContent, dtype: object

## Sentiment analysis of tweets

We will use VADER to perform the sentiment analysis. There are alternatives like TextBlob, but VADER meets well our requeriments
- It is sensitive to both polarity (positive/negative) and intensity (strength) of emotion.
- you get a positive, negative neutral scores and a compound score 
- labelled data not required because it is pre-trained ([link](https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664), [link](https://towardsdatascience.com/sentiment-analysis-of-tweets-167d040f0583))

In [87]:
#take example tweet
example_tweet = tweets_df_en.loc[1, "rawContent"]

In [88]:
#VADER can be used from vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

#open instance
analyzer = SentimentIntensityAnalyzer()

#example
print(analyzer.polarity_scores(example_tweet))
print(example_tweet)

{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'compound': -0.7184}
#ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom

#MoneyPrinting #Gold #Silver #Stimulus #QE #BailOut #Liquidity #Monetize #Debt #DebtCrisis https://t.co/DiMb7magFj

In [89]:
#or from nlTK
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#instance
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/dftortosa/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [90]:
#we get similar results
print(sid.polarity_scores(example_tweet))
print(analyzer.polarity_scores(example_tweet))

{'neg': 0.163, 'neu': 0.837, 'pos': 0.0, 'compound': -0.4767}
{'neg': 0.296, 'neu': 0.704, 'pos': 0.0, 'compound': -0.7184}

Define function to clean the tweet text

In [128]:
import re
def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet).split()).replace("#", "")

##CHECK REGULAR EXPRESSIONS
#https://www.sciencedirect.com/science/article/pii/S104244312030072X

In [129]:
print(example_tweet)
clean_tweet(example_tweet)

#ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom

#MoneyPrinting #Gold #Silver #Stimulus #QE #BailOut #Liquidity #Monetize #Debt #DebtCrisis https://t.co/DiMb7magFj

'ECB Bond Tool Seen Having No Limits as Steeper Rate Hikes Loom MoneyPrinting Gold Silver Stimulus QE BailOut Liquidity Monetize Debt DebtCrisis'

We are going to use the compound sentiment. In this way, we consider both the negative and positive sentiment around the BCE and the economy of Europe.

In [130]:
#define function to be applied per row
def sentiment_per_row(raw_tweet):
        
    #clean
    tweet_cleaned = clean_tweet(raw_tweet)
        #import preprocessor as p; p.clean()
    
    #get the negative sentiment
    sentiment = analyzer.polarity_scores(tweet_cleaned)["compound"]

    #return
    return sentiment

In [131]:
import multiprocessing as mp

with mp.Pool(10) as pool:
    tweets_df_en["sentiment"] = pool.map(sentiment_per_row, tweets_df_en["rawContent"])
        #for each row in tweets_df_en["rawContent"], apply sentiment_per_row across 10 cores
        #https://stackoverflow.com/questions/45545110/make-pandas-dataframe-apply-use-all-cores
    pool.close()

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [165]:
#get the date and sentiment
sentiment_results_df = tweets_df_en[["date", "sentiment"]]
sentiment_results_df

                             date  sentiment
1       2022-07-16 23:27:03+00:00    -0.7184
2       2022-07-16 23:06:25+00:00     0.4754
3       2022-07-16 23:01:54+00:00     0.4754
4       2022-07-16 23:00:00+00:00     0.0000
5       2022-07-16 22:12:31+00:00    -0.3818
...                           ...        ...
2427768 2008-03-07 04:12:04+00:00     0.0000
2427769 2008-03-03 19:52:21+00:00     0.0000
2427790 2007-09-27 23:21:05+00:00     0.0000
2427801 2007-08-14 20:03:44+00:00     0.3182
2427804 2007-06-15 17:19:24+00:00     0.0000

[2109593 rows x 2 columns]

In [166]:
#leave only year, month and day
sentiment_results_df["date"] = pd.to_datetime(sentiment_results_df["date"].dt.strftime('%Y-%m-%d'))
    #https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas
    #https://stackoverflow.com/questions/20689288/converting-pandas-columns-to-datetime64-including-missing-values
sentiment_results_df

#CHECK WARNING

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              date  sentiment
1       2022-07-16    -0.7184
2       2022-07-16     0.4754
3       2022-07-16     0.4754
4       2022-07-16     0.0000
5       2022-07-16    -0.3818
...            ...        ...
2427768 2008-03-07     0.0000
2427769 2008-03-03     0.0000
2427790 2007-09-27     0.0000
2427801 2007-08-14     0.3182
2427804 2007-06-15     0.0000

[2109593 rows x 2 columns]

In [167]:
#check we have rows ordered in chronologicla order
sentiment_results_df.equals(sentiment_results_df.sort_index())

True

Now let's calculate several metrics for the sentiment of each day and save them in list of data.frames. We can calculate the average, quartiles, std...

In [168]:
sentiment_results_df.groupby("date")["sentiment"].mean()

date
2007-01-11    0.458800
2007-01-15    0.510600
2007-02-08    0.458800
2007-03-07    0.458800
2007-03-08    0.458800
                ...
2022-07-12    0.005844
2022-07-13   -0.018368
2022-07-14   -0.057981
2022-07-15   -0.031051
2022-07-16   -0.021342
Name: sentiment, Length: 5281, dtype: float64

In [169]:
sentiment_results_df.groupby("date")["sentiment"].apply(lambda a: (np.percentile(a, 75) - np.percentile(a, 25)))

date
2007-01-11    0.00000
2007-01-15    0.00000
2007-02-08    0.00000
2007-03-07    0.00000
2007-03-08    0.00000
               ...
2022-07-12    0.74300
2022-07-13    0.77770
2022-07-14    0.85110
2022-07-15    0.85850
2022-07-16    0.84645
Name: sentiment, Length: 5281, dtype: float64

In [170]:
sentiment_results_df.groupby("date")["sentiment"].apply(lambda a: np.percentile(a, 75))

date
2007-01-11    0.4588
2007-01-15    0.5106
2007-02-08    0.4588
2007-03-07    0.4588
2007-03-08    0.4588
               ...
2022-07-12    0.3818
2022-07-13    0.3758
2022-07-14    0.3244
2022-07-15    0.3818
2022-07-16    0.3818
Name: sentiment, Length: 5281, dtype: float64

We can see how the IQR is similar to Q3, this is caused because Q1 tends to be around zero.

In [171]:
sentiment_results_df.groupby("date")["sentiment"].apply(lambda a: np.percentile(a, 25)).describe()

count    5281.000000
mean       -0.268252
std         0.212651
min        -0.928600
25%        -0.401900
50%        -0.293300
75%        -0.102700
max         0.875000
Name: sentiment, dtype: float64

In [172]:
#get the most frequent value
from statistics import mode
mode([1,2,3,1,1])

1

In [173]:
#std gives NA for cases with n=1
print(pd.DataFrame([1,1]).std()) #std = 0
print(pd.DataFrame([1,2]).std()) #std = 0.7
print(pd.DataFrame([1]).std()) #std = NaN

0    0.0
dtype: float64
0    0.707107
dtype: float64
0   NaN
dtype: float64

This is solved using ddof=0. ddof is Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements

In [174]:
print(pd.DataFrame([1,1]).std(ddof=0)) #std = 0
print(pd.DataFrame([1,2]).std(ddof=0)) #std = 0.7
print(pd.DataFrame([1]).std(ddof=0)) #std = NaN

0    0.0
dtype: float64
0    0.5
dtype: float64
0    0.0
dtype: float64

We get the same results with np.std and .std(ddof=0)

In [175]:
print(np.std([1,1])) #std = 0
print(np.std([1,2])) #std = 0.7
print(np.std([1])) #std = NaN

0.0
0.5
0.0

We are going to use evaluate inside the function in order to perform the different operations we need. For example:

In [176]:
operation="mean"
string_evaluate = 'sentiment_results_df.groupby("date")["sentiment"].' + operation + '().to_frame()'
string_evaluate

'sentiment_results_df.groupby("date")["sentiment"].mean().to_frame()'

In [177]:
eval(string_evaluate)

            sentiment
date
2007-01-11   0.458800
2007-01-15   0.510600
2007-02-08   0.458800
2007-03-07   0.458800
2007-03-08   0.458800
...               ...
2022-07-12   0.005844
2022-07-13  -0.018368
2022-07-14  -0.057981
2022-07-15  -0.031051
2022-07-16  -0.021342

[5281 rows x 1 columns]

We are interested in have a row per day, so we can exactly calculate the sentiment of 1, 10... days ago

In [178]:
#we can use min and max to select the earliest and latest dates
print(np.min(np.unique(sentiment_results_df["date"])))
print(np.max(np.unique(sentiment_results_df["date"])))

2007-01-11T00:00:00.000000000
2022-07-16T00:00:00.000000000

In [179]:
#first calculate the time range from the earliest to latest date
idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                    np.max(np.unique(sentiment_results_df["date"])))
idx

DatetimeIndex(['2007-01-11', '2007-01-12', '2007-01-13', '2007-01-14',
               '2007-01-15', '2007-01-16', '2007-01-17', '2007-01-18',
               '2007-01-19', '2007-01-20',
               ...
               '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10',
               '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14',
               '2022-07-15', '2022-07-16'],
              dtype='datetime64[ns]', length=5666, freq='D')

In [180]:
#calculate the mean sentiment in tweets per day and then re-index considering all days between the earliest and 
#latest date. Those dates without tweets will have NaN
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.458800
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.510600
                ...
2022-07-12    0.005844
2022-07-13   -0.018368
2022-07-14   -0.057981
2022-07-15   -0.031051
2022-07-16   -0.021342
Freq: D, Name: sentiment, Length: 5666, dtype: float64

You can see how there is a gap without tweets between 11 and 15 of January and, accordingly, the days between have NaN

In [181]:
np.unique(sentiment_results_df["date"])[0:2]

array(['2007-01-11T00:00:00.000000000', '2007-01-15T00:00:00.000000000'],
      dtype='datetime64[ns]')

We can also shift the rows after making an operation per day, i.e., move the value of day 1 to day 2, value of day 2 to day 3, and so on...

In [182]:
#first calculate the average sentiment per day
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.458800
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.510600
                ...
2022-07-12    0.005844
2022-07-13   -0.018368
2022-07-14   -0.057981
2022-07-15   -0.031051
2022-07-16   -0.021342
Freq: D, Name: sentiment, Length: 5666, dtype: float64

In [183]:
#Now shift 2 days, so 2022-07-16 has now the average of the previous day (2022-07-15)
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN).shift(1)

2007-01-11         NaN
2007-01-12    0.458800
2007-01-13         NaN
2007-01-14         NaN
2007-01-15         NaN
                ...
2022-07-12   -0.049440
2022-07-13    0.005844
2022-07-14   -0.018368
2022-07-15   -0.057981
2022-07-16   -0.031051
Freq: D, Name: sentiment, Length: 5666, dtype: float64

Shift zero would be equal to the original variable, no change:

In [223]:
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN).shift(0).equals(sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN))

True

In [406]:
sentiment_results_df["sentiment"].shift(0).equals(sentiment_results_df["sentiment"])

True

Now, we are going to calculate different summary statistics of the sentiment of the previous days (1, 5, 10, 60 days ago):

In [599]:

###CHECK THIS!!!

#define a function to do a given operation grouping by day but considering the a previous date
def groupby_calcs(operation, metric_name, args="", n_previous_days=2):
        
    #get the string with the operation name
    string_evaluate = 'sentiment_results_df.groupby("date")["sentiment"].' + operation + '(' + args + ').to_frame()'
        #do operations for the sentiment of each day and then convert to df

    #evaluate to get the DF with the calculations per day
    data_frame = eval(string_evaluate)
    
    #extract the range of days for which we have data
    time_range = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                        np.max(np.unique(sentiment_results_df["date"])))
    
    #fill with NaN those dates with data
    data_frame = data_frame.reindex(time_range, fill_value=np.NaN)
        #https://stackoverflow.com/questions/15610805/accessing-row-from-previous-day-in-pandas-dataframe-with-apply
    
    #get sentiment of the previous days
    data_frame['sentiment'] = data_frame['sentiment'].shift(n_previous_days)
        #https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
        
    #reset the index
    data_frame = data_frame.reset_index(level=0)
        #set the index (date) as column 
  
    #change the column name for sentiment
    data_frame = data_frame.rename(columns={'index': 'date', 'sentiment': metric_name + '_sent_previous_' + str(n_previous_days) + '_days'})

    #append the df to the list
    return data_frame
    

def groupby_calcs_across_dates(previous_date):
    
    #define a list of operations to do
    metrics_sentiment = ["quantile_0.1",
                         "quantile_0.25",
                         "quantile_0.35",
                         "quantile_0.50",
                         "quantile_0.65",
                         "quantile_0.75",
                         "quantile_0.9",
                         "mean",
                         "min",
                         "max",
                         "sum",
                         "count", 
                             #this can be useful to control for averages with low number of tweets
                             #but also to consider how much people is talking about europes economy
                         "std"]
    
    list_data_frames = []
    
    #apply each operation
    for metric in metrics_sentiment:
        
        #for std
        if metric == "std":
            #use ddof=0 to get zero for cases with 1 tweet per day (see above)
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          args='ddof=0', 
                          n_previous_days=previous_date)
        elif "quantile" in metric: #if quantile
            #get the operation name and the quantile number
            operation_name = metric.split("_")[0]
            quantile_number = metric.split("_")[1]
            result_calc = groupby_calcs(operation=operation_name, 
                          metric_name=metric, 
                          args=quantile_number, 
                          n_previous_days=previous_date) 
        else: 
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          n_previous_days=previous_date)
           
        list_data_frames.append(result_calc)
        
    return list_data_frames

In [600]:
groupby_calcs_across_dates(2)

[           date  quantile_0.1_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5661 2022-07-12                           -0.75060
 5662 2022-07-13                           -0.71605
 5663 2022-07-14                           -0.62490
 5664 2022-07-15                           -0.70030
 5665 2022-07-16                           -0.71664

 [5666 rows x 2 columns],
            date  quantile_0.25_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                              0.4588
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                             -0.3400
 5662 2022-07-13                             -0.4404
 5663 2022-07-14                             -0.3612
 5664 2022-07-15                             -0.4019
 5665 2022-07-16                             -0.5267

 [5666 rows x 2 columns],
            date  quantile_0.35_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                              0.4588
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                             -0.1531
 5662 2022-07-13                             -0.3092
 5663 2022-07-14                             -0.1280
 5664 2022-07-15                             -0.2023
 5665 2022-07-16                             -0.3070

 [5666 rows x 2 columns],
            date  quantile_0.50_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                              0.4588
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                              0.0000
 5662 2022-07-13                              0.0000
 5663 2022-07-14                              0.0000
 5664 2022-07-15                              0.0000
 5665 2022-07-16                              0.0000

 [5666 rows x 2 columns],
            date  quantile_0.65_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                            0.458800
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            0.273200
 5662 2022-07-13                            0.077200
 5663 2022-07-14                            0.120015
 5664 2022-07-15                            0.158060
 5665 2022-07-16                            0.038090

 [5666 rows x 2 columns],
            date  quantile_0.75_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                              0.4588
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                              0.5106
 5662 2022-07-13                              0.3818
 5663 2022-07-14                              0.3818
 5664 2022-07-15                              0.3758
 5665 2022-07-16                              0.3244

 [5666 rows x 2 columns],
            date  quantile_0.9_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5661 2022-07-12                            0.72890
 5662 2022-07-13                            0.66510
 5663 2022-07-14                            0.67771
 5664 2022-07-15                            0.66810
 5665 2022-07-16                            0.67874

 [5666 rows x 2 columns],
            date  mean_sent_previous_2_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                   0.458800
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                   0.029138
 5662 2022-07-13                  -0.049440
 5663 2022-07-14                   0.005844
 5664 2022-07-15                  -0.018368
 5665 2022-07-16                  -0.057981

 [5666 rows x 2 columns],
            date  min_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                   -0.9563
 5662 2022-07-13                   -0.9829
 5663 2022-07-14                   -0.9613
 5664 2022-07-15                   -0.9625
 5665 2022-07-16                   -0.9563

 [5666 rows x 2 columns],
            date  max_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                    0.9718
 5662 2022-07-13                    0.9853
 5663 2022-07-14                    0.9648
 5664 2022-07-15                    0.9575
 5665 2022-07-16                    0.9391

 [5666 rows x 2 columns],
            date  sum_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                    8.1877
 5662 2022-07-13                  -26.4999
 5663 2022-07-14                    3.9389
 5664 2022-07-15                  -10.8190
 5665 2022-07-16                  -45.3994

 [5666 rows x 2 columns],
            date  count_sent_previous_2_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         1.0
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5661 2022-07-12                       281.0
 5662 2022-07-13                       536.0
 5663 2022-07-14                       674.0
 5664 2022-07-15                       589.0
 5665 2022-07-16                       783.0

 [5666 rows x 2 columns],
            date  std_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                  0.000000
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                  0.521867
 5662 2022-07-13                  0.499631
 5663 2022-07-14                  0.469538
 5664 2022-07-15                  0.483130
 5665 2022-07-16                  0.499732

 [5666 rows x 2 columns]]

We are going to calculate the summary statistics for the sentiment several days before the current day

In [612]:
#get sentiment 1 and 2 weeks ago, along with 1, 2, 3, 4 and 5 months ago
list_dates = [7, 14, 30, 60, 90, 120, 150]

#open a pool with 10 processes
pool_dates = mp.Pool(processes=10)

#apply the function for each previous day in parallel across 10 cores
list_data_frames = [pool_dates.apply_async(groupby_calcs_across_dates, args=(previous_date,)).get() for previous_date in list_dates]
    #https://stackoverflow.com/questions/42843203/how-to-get-the-result-of-multiprocessing-pool-apply-async

#close the pool
pool_dates.close()

In [613]:
#check we have the correct number of dfs in the list
#len(list_data_frames) == len(metrics_sentiment)*len(list_dates)

In [614]:
type(list_data_frames)

list

In [615]:
list_data_frames[0][0]

           date  quantile_0.1_sent_previous_7_days
0    2007-01-11                                NaN
1    2007-01-12                                NaN
2    2007-01-13                                NaN
3    2007-01-14                                NaN
4    2007-01-15                                NaN
...         ...                                ...
5661 2022-07-12                           -0.75574
5662 2022-07-13                           -0.71752
5663 2022-07-14                           -0.76500
5664 2022-07-15                           -0.72949
5665 2022-07-16                           -0.73806

[5666 rows x 2 columns]

In [616]:
list_data_frames[1][1]

           date  quantile_0.25_sent_previous_14_days
0    2007-01-11                                  NaN
1    2007-01-12                                  NaN
2    2007-01-13                                  NaN
3    2007-01-14                                  NaN
4    2007-01-15                                  NaN
...         ...                                  ...
5661 2022-07-12                            -0.241100
5662 2022-07-13                            -0.264575
5663 2022-07-14                            -0.373600
5664 2022-07-15                            -0.296000
5665 2022-07-16                            -0.383825

[5666 rows x 2 columns]

In [617]:
flat_list = [item for sublist in list_data_frames for item in sublist]
flat_list

[           date  quantile_0.1_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5661 2022-07-12                           -0.75574
 5662 2022-07-13                           -0.71752
 5663 2022-07-14                           -0.76500
 5664 2022-07-15                           -0.72949
 5665 2022-07-16                           -0.73806

 [5666 rows x 2 columns],
            date  quantile_0.25_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                           -0.440400
 5662 2022-07-13                           -0.397175
 5663 2022-07-14                           -0.440400
 5664 2022-07-15                           -0.476700
 5665 2022-07-16                           -0.421500

 [5666 rows x 2 columns],
            date  quantile_0.35_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            -0.20830
 5662 2022-07-13                            -0.18942
 5663 2022-07-14                            -0.27320
 5664 2022-07-15                            -0.27320
 5665 2022-07-16                            -0.17790

 [5666 rows x 2 columns],
            date  quantile_0.50_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                                 0.0
 5662 2022-07-13                                 0.0
 5663 2022-07-14                                 0.0
 5664 2022-07-15                                 0.0
 5665 2022-07-16                                 0.0

 [5666 rows x 2 columns],
            date  quantile_0.65_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            0.036120
 5662 2022-07-13                            0.257605
 5663 2022-07-14                            0.153100
 5664 2022-07-15                            0.177900
 5665 2022-07-16                            0.309290

 [5666 rows x 2 columns],
            date  quantile_0.75_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            0.381800
 5662 2022-07-13                            0.433500
 5663 2022-07-14                            0.381800
 5664 2022-07-15                            0.390950
 5665 2022-07-16                            0.472225

 [5666 rows x 2 columns],
            date  quantile_0.9_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5661 2022-07-12                            0.69080
 5662 2022-07-13                            0.69080
 5663 2022-07-14                            0.65115
 5664 2022-07-15                            0.68080
 5665 2022-07-16                            0.72095

 [5666 rows x 2 columns],
            date  mean_sent_previous_7_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                  -0.044121
 5662 2022-07-13                   0.007835
 5663 2022-07-14                  -0.040434
 5664 2022-07-15                  -0.037051
 5665 2022-07-16                   0.025454

 [5666 rows x 2 columns],
            date  min_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                   -0.9538
 5662 2022-07-13                   -0.9729
 5663 2022-07-14                   -0.9735
 5664 2022-07-15                   -0.9766
 5665 2022-07-16                   -0.9413

 [5666 rows x 2 columns],
            date  max_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                    0.9308
 5662 2022-07-13                    0.9583
 5663 2022-07-14                    0.9659
 5664 2022-07-15                    0.9854
 5665 2022-07-16                    0.9518

 [5666 rows x 2 columns],
            date  sum_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                  -28.9874
 5662 2022-07-13                    3.6198
 5663 2022-07-14                  -22.6429
 5664 2022-07-15                  -19.9337
 5665 2022-07-16                    7.5854

 [5666 rows x 2 columns],
            date  count_sent_previous_7_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         NaN
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5661 2022-07-12                       657.0
 5662 2022-07-13                       462.0
 5663 2022-07-14                       560.0
 5664 2022-07-15                       538.0
 5665 2022-07-16                       298.0

 [5666 rows x 2 columns],
            date  std_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5661 2022-07-12                  0.499490
 5662 2022-07-13                  0.507805
 5663 2022-07-14                  0.507802
 5664 2022-07-15                  0.507778
 5665 2022-07-16                  0.524501

 [5666 rows x 2 columns],
            date  quantile_0.1_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            -0.63690
 5662 2022-07-13                            -0.62850
 5663 2022-07-14                            -0.67206
 5664 2022-07-15                            -0.65970
 5665 2022-07-16                            -0.72528

 [5666 rows x 2 columns],
            date  quantile_0.25_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                            -0.241100
 5662 2022-07-13                            -0.264575
 5663 2022-07-14                            -0.373600
 5664 2022-07-15                            -0.296000
 5665 2022-07-16                            -0.383825

 [5666 rows x 2 columns],
            date  quantile_0.35_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                               0.0000
 5662 2022-07-13                               0.0000
 5663 2022-07-14                              -0.2263
 5664 2022-07-15                               0.0000
 5665 2022-07-16                               0.0000

 [5666 rows x 2 columns],
            date  quantile_0.50_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                                  0.0
 5662 2022-07-13                                  0.0
 5663 2022-07-14                                  0.0
 5664 2022-07-15                                  0.0
 5665 2022-07-16                                  0.0

 [5666 rows x 2 columns],
            date  quantile_0.65_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                              0.27320
 5662 2022-07-13                              0.21912
 5663 2022-07-14                              0.20230
 5664 2022-07-15                              0.10270
 5665 2022-07-16                              0.03870

 [5666 rows x 2 columns],
            date  quantile_0.75_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                             0.426225
 5662 2022-07-13                             0.346250
 5663 2022-07-14                             0.401900
 5664 2022-07-15                             0.409100
 5665 2022-07-16                             0.345300

 [5666 rows x 2 columns],
            date  quantile_0.9_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                             0.68080
 5662 2022-07-13                             0.71175
 5663 2022-07-14                             0.71816
 5664 2022-07-15                             0.63642
 5665 2022-07-16                             0.62917

 [5666 rows x 2 columns],
            date  mean_sent_previous_14_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         NaN
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5661 2022-07-12                    0.065728
 5662 2022-07-13                    0.047734
 5663 2022-07-14                    0.004573
 5664 2022-07-15                    0.029080
 5665 2022-07-16                   -0.011397

 [5666 rows x 2 columns],
            date  min_sent_previous_14_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                    -0.9810
 5662 2022-07-13                    -0.9661
 5663 2022-07-14                    -0.9671
 5664 2022-07-15                    -0.9485
 5665 2022-07-16                    -0.9628

 [5666 rows x 2 columns],
            date  max_sent_previous_14_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                     0.9740
 5662 2022-07-13                     0.9738
 5663 2022-07-14                     0.9509
 5664 2022-07-15                     0.9550
 5665 2022-07-16                     0.9587

 [5666 rows x 2 columns],
            date  sum_sent_previous_14_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                    47.8501
 5662 2022-07-13                    35.7047
 5663 2022-07-14                     2.5836
 5664 2022-07-15                    17.3606
 5665 2022-07-16                    -4.8322

 [5666 rows x 2 columns],
            date  count_sent_previous_14_days
 0    2007-01-11                          NaN
 1    2007-01-12                          NaN
 2    2007-01-13                          NaN
 3    2007-01-14                          NaN
 4    2007-01-15                          NaN
 ...         ...                          ...
 5661 2022-07-12                        728.0
 5662 2022-07-13                        748.0
 5663 2022-07-14                        565.0
 5664 2022-07-15                        597.0
 5665 2022-07-16                        424.0

 [5666 rows x 2 columns],
            date  std_sent_previous_14_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5661 2022-07-12                   0.467009
 5662 2022-07-13                   0.452671
 5663 2022-07-14                   0.492497
 5664 2022-07-15                   0.454800
 5665 2022-07-16                   0.476815

 [5666 rows x 2 columns],
            date  quantile_0.1_sent_previous_30_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5661 2022-07-12                            -0.73747
 5662 2022-07-13                            -0.72690
 5663 2022-07-14                            -0.67050
 5664 2022-07-15                            -0.74597
 5665 2022-07-16                            -0.70960

 [5666 rows x 2 columns],
            date  quantile_0.25_sent_previous_30_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                            -0.459775
 5662 2022-07-13                            -0.476700
 5663 2022-07-14                            -0.401900
 5664 2022-07-15                            -0.421500
 5665 2022-07-16                            -0.381800

 [5666 rows x 2 columns],
            date  quantile_0.35_sent_previous_30_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                            -0.203500
 5662 2022-07-13                            -0.238200
 5663 2022-07-14                            -0.177900
 5664 2022-07-15                            -0.373220
 5665 2022-07-16                            -0.235045

 [5666 rows x 2 columns],
            date  quantile_0.50_sent_previous_30_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                                  0.0
 5662 2022-07-13                                  0.0
 5663 2022-07-14                                  0.0
 5664 2022-07-15                                  0.0
 5665 2022-07-16                                  0.0

 [5666 rows x 2 columns],
            date  quantile_0.65_sent_previous_30_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                             0.202520
 5662 2022-07-13                             0.077200
 5663 2022-07-14                             0.110965
 5664 2022-07-15                             0.000000
 5665 2022-07-16                             0.128090

 [5666 rows x 2 columns],
            date  quantile_0.75_sent_previous_30_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5661 2022-07-12                             0.439925
 5662 2022-07-13                             0.361200
 5663 2022-07-14                             0.386425
 5664 2022-07-15                             0.177900
 5665 2022-07-16                             0.381800


In [618]:
##merge all data.frames
from functools import reduce

#merge them using reduce
df_merged = reduce(lambda left, right: pd.merge(left, right, on=['date'], how='inner'), [element for element in flat_list])
    #leave only those rows having date in the datasets of currency value and sentiment
    #https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes
df_merged
    #note that here the previous eur pricing can be different than the eur pricing of the previous row
    #because when merging we lose days without tweet sentiment, so there is no longer continuous days

,date,quantile_0.1_sent_previous_7_days,quantile_0.25_sent_previous_7_days,quantile_0.35_sent_previous_7_days,quantile_0.50_sent_previous_7_days,quantile_0.65_sent_previous_7_days,quantile_0.75_sent_previous_7_days,quantile_0.9_sent_previous_7_days,mean_sent_previous_7_days,min_sent_previous_7_days,...,quantile_0.50_sent_previous_150_days,quantile_0.65_sent_previous_150_days,quantile_0.75_sent_previous_150_days,quantile_0.9_sent_previous_150_days,mean_sent_previous_150_days,min_sent_previous_150_days,max_sent_previous_150_days,sum_sent_previous_150_days,count_sent_previous_150_days,std_sent_previous_150_days
0,2007-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5661,2022-07-12,-0.75574,-0.440400,-0.20830,0.0,0.036120,0.381800,0.69080,-0.044121,-0.9538,...,0.0,0.24881,0.4404,0.70582,0.035021,-0.9517,0.9348,10.9266,312.0,0.492533
5662,2022-07-13,-0.71752,-0.397175,-0.18942,0.0,0.257605,0.433500,0.69080,0.007835,-0.9729,...,0.0,0.27890,0.4215,0.68080,0.018820,-0.9750,0.9477,5.3824,286.0,0.508830
5663,2022-07-14,-0.76500,-0.440400,-0.27320,0.0,0.153100,0.381800,0.65115,-0.040434,-0.9735,...,0.0,0.12800,0.4215,0.62540,0.018880,-0.9423,0.9788,7.0990,376.0,0.453243
5664,2022-07-15,-0.72949,-0.476700,-0.27320,0.0,0.177900,0.390950,0.68080,-0.037051,-0.9766,...,0.0,0.31820,0.4404,0.69080,0.082902,-0.9477,0.9379,34.9019,421.0,0.457694
5665,2022-07-16,-0.73806,-0.421500,-0.17790,0.0,0.309290,0.472225,0.72095,0.025454,-0.9413,...,0.0,0.27320,0.4404,0.69935,0.084929,-0.9433,0.9246,34.1416,402.0,0.449675

In [619]:
df_merged = df_merged.dropna()
df_merged

,date,quantile_0.1_sent_previous_7_days,quantile_0.25_sent_previous_7_days,quantile_0.35_sent_previous_7_days,quantile_0.50_sent_previous_7_days,quantile_0.65_sent_previous_7_days,quantile_0.75_sent_previous_7_days,quantile_0.9_sent_previous_7_days,mean_sent_previous_7_days,min_sent_previous_7_days,...,quantile_0.50_sent_previous_150_days,quantile_0.65_sent_previous_150_days,quantile_0.75_sent_previous_150_days,quantile_0.9_sent_previous_150_days,mean_sent_previous_150_days,min_sent_previous_150_days,max_sent_previous_150_days,sum_sent_previous_150_days,count_sent_previous_150_days,std_sent_previous_150_days
497,2008-05-22,0.06124,0.153100,0.244580,0.38180,0.381800,0.381800,0.65924,0.352180,0.0000,...,-0.04015,-0.028105,-0.020075,-0.00803,-0.040150,-0.0803,0.0000,-0.0803,2.0,0.040150
633,2008-10-05,-0.34362,-0.286350,-0.248170,-0.19090,-0.133630,-0.095450,-0.03818,-0.190900,-0.3818,...,0.42150,0.458800,0.458800,0.45880,0.353409,-0.2732,0.7184,3.8875,11.0,0.253221
663,2008-11-04,0.00000,0.000000,0.000000,0.00000,0.114700,0.344100,0.57480,0.191600,0.0000,...,-0.08895,-0.062265,-0.044475,-0.01779,-0.088950,-0.1779,0.0000,-0.1779,2.0,0.088950
665,2008-11-06,0.12645,0.316125,0.436345,0.56995,0.703555,0.724550,0.73562,0.470725,0.0000,...,0.45880,0.458800,0.458800,0.45880,0.275280,0.0000,0.4588,1.3764,5.0,0.224765
666,2008-11-07,-0.37091,-0.284450,-0.252095,-0.11315,0.000000,0.000000,0.00000,-0.163950,-0.4939,...,0.33525,0.435825,0.502875,0.60345,0.335250,0.0000,0.6705,0.6705,2.0,0.335250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5661,2022-07-12,-0.75574,-0.440400,-0.208300,0.00000,0.036120,0.381800,0.69080,-0.044121,-0.9538,...,0.00000,0.248810,0.440400,0.70582,0.035021,-0.9517,0.9348,10.9266,312.0,0.492533
5662,2022-07-13,-0.71752,-0.397175,-0.189420,0.00000,0.257605,0.433500,0.69080,0.007835,-0.9729,...,0.00000,0.278900,0.421500,0.68080,0.018820,-0.9750,0.9477,5.3824,286.0,0.508830
5663,2022-07-14,-0.76500,-0.440400,-0.273200,0.00000,0.153100,0.381800,0.65115,-0.040434,-0.9735,...,0.00000,0.128000,0.421500,0.62540,0.018880,-0.9423,0.9788,7.0990,376.0,0.453243
5664,2022-07-15,-0.72949,-0.476700,-0.273200,0.00000,0.177900,0.390950,0.68080,-0.037051,-0.9766,...,0.00000,0.318200,0.440400,0.69080,0.082902,-0.9477,0.9379,34.9019,421.0,0.457694
5665,2022-07-16,-0.73806,-0.421500,-0.177900,0.00000,0.309290,0.472225,0.72095,0.025454,-0.9413,...,0.00000,0.273200,0.440400,0.69935,0.084929,-0.9433,0.9246,34.1416,402.0,0.449675

In [620]:
#check that all days with just 1 tweet have std=0
#np.unique(df_merged[df_merged["count_sent"] == 1]["std_sent"]) == 0

In [621]:
'''
##plot the metrics
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

#for each metric
for metric in metrics_sentiment:
    
    #open a plot with two panels
    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))

    #plot scatter against date and eur pricing
    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_sent"], s=0.5)
    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_sent"], s=0.5)
    
    #set ylabel
    ax1.set_ylabel(metric + " negative sentiment")
    ax1.set_xlabel("Year")
    ax2.set_ylabel(metric + " negative sentiment")
    ax2.set_xlabel("Percent change in EUR/USD exchange rate")
    
    #close
    plt.show()
'''

'\n##plot the metrics\nimport matplotlib.pyplot as plt\nfrom matplotlib.pyplot import figure\n\n#for each metric\nfor metric in metrics_sentiment:\n    \n    #open a plot with two panels\n    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))\n\n    #plot scatter against date and eur pricing\n    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_sent"], s=0.5)\n    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_sent"], s=0.5)\n    \n    #set ylabel\n    ax1.set_ylabel(metric + " negative sentiment")\n    ax1.set_xlabel("Year")\n    ax2.set_ylabel(metric + " negative sentiment")\n    ax2.set_xlabel("Percent change in EUR/USD exchange rate")\n    \n    #close\n    plt.show()\n'

Mean shows that low currency values tend to be associated with high negative sentiment. As the value increase, there is more variation. With more negative but specially much more less negative days. This is even clearer for max. The main difference is that high currency values are associated with a lot of 0 negative days.

It seems that once economic problems arise, then worries extend across economic agents and hence twitter, making less likely to have positive/neutral tweets.

In [622]:
#save the final data.frame with all metrics and eur pricing
df_merged.to_csv("results/twitter_sentiment_data.csv.gz", compression="gzip", index=False)
#df_merged = pd.read_csv("results/twitter_sentiment_data.csv.gz", compression="gzip")