# Processing Twitter sentiment

In [2]:
#set the working directory
import os
os.chdir("/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project/")

#check
os.getcwd()

'/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project'

## Loading tweet data

We include tweets about the BCE, which is the entity in charge of protecting the value of the euro, but also tweets about debt crisis in Europe, because this can negatively impact the expectations around the euro. Also tweets about the economy of Europe, because this can influence the expectations of economic agents around the Euro. Specially relevant those countries with sovereing debt problems. I have included countries that experienced high interest rates during the 2008 economic crisis (above 6%, e.g., Spain or Greece; [link](https://en.wikipedia.org/wiki/File:Long-term_interest_rates_(eurozone).png)) and countries that currently having a percentage of debt respect GDP above 85.8%, which is the average of the Euro area ([link](https://www.statista.com/statistics/269684/national-debt-in-eu-countries-in-relation-to-gross-domestic-product-gdp/)). This is specially relevant because the BCE not only acts to preserve the value of the euro but to avoid the bankruptcy of the members states, and both goals can be incompatible in certain circumstances (e.g., buy EU debt when at the same time you have to fight against inflation raising the interest rates). It is worth to mention that the Euros can be seen as liabilities that it has respect to those having euros. Of course, today we do not have gold standard, so we cannot go to the ECB ansd ask for an exchange in gold. However, the ECB has a mandate to control the value of the Euro so those with Euros will not lose value, because of this, there is a goal of 2% inflation per year, that is the limit. For example, if for eany reason there is an increase of inflation (e.g., due to high energy prices), the ECB should use its assets to buy Euros and hence remove them from circulation, this would decrease the offer of Euros, and hence increase the value of the currency. But what happens if the ECB has not enough assets to compensate? or he has assets of low quality like for example bonds from European countries with debt problems? The ECB could have difficulties to use gain capitalization through these assets and use it to stabilize Euro's value. The economic agents know this because they can see the balance of the ECB, and they can decide to go away from Euro. This sentiment of the economic agents for the Euro is what I am trying to catch here, using twitter for that.

We are also going to include tweets about ECB'presidents as a way to cover better the setiment around this institution.

I am interested in the expectations of the economic agents about the Euro. If mane economic agents think and act in the same way, this is going to influence the demand and value of the currenct. For example, selling their euros because they expect a devaluation of the currency in the near future due to low confidence in Europe's economy. I am trying to capture the echoes of these expectations in twitter.

This would be relevant for any componay interested in the prediction of currencies. If the consideration of the sentiment aroung the currency can help to improve predictions, they could do more advantageous trades. For example, for an american company doing business in Europe.

In [3]:
list_paths = ["search_euro_bank_twitter_1999_1_1.json",
              "hashtag_euro_bank_twitter_1999_1_1.json",
              "search_european_union_economy_twitter_1999_1_1.json",
              "search_eu_debt_crisis_twitter_1999_1_1.json", 
              "search_greece_economy_twitter_1999_1_1.json",
              "search_italy_economy_twitter_1999_1_1.json",
              "search_spain_economy_twitter_1999_1_1.json",
              "search_portugal_economy_twitter_1999_1_1.json",
              "search_cyprus_economy_twitter_1999_1_1.json",
              "search_slovenia_economy_twitter_1999_1_1.json",
              "search_france_economy_twitter_1999_1_1.json",
              "search_belgium_economy_twitter_1999_1_1.json",
              "search_croatia_economy_twitter_1999_1_1.json", 
              "search_ireland_economy_twitter_1999_1_1.json", 
              "search_trichet_twitter.json", 
              "hashtag_draghi_twitter.json", 
              "hashtag_lagarde_twitter.json"]
len(list_paths)

17

In [4]:
%%time
import multiprocessing as mp
import pandas as pd

def read_tweet_data(path):
    return pd.read_json("data/json_files/"+path, lines=True)

with mp.Pool(10) as pool:
    list_input_df = list(pool.map(read_tweet_data, list_paths))
        #for each row in tweets_df_en["rawContent"], apply sentiment_per_row across 10 cores
        #https://stackoverflow.com/questions/45545110/make-pandas-dataframe-apply-use-all-cores
    pool.close()
list_input_df

CPU times: user 1min 11s, sys: 15.6 s, total: 1min 26s
Wall time: 1min 42s

[                                 _type  \
 0       snscrape.modules.twitter.Tweet
 1       snscrape.modules.twitter.Tweet
 2       snscrape.modules.twitter.Tweet
 3       snscrape.modules.twitter.Tweet
 4       snscrape.modules.twitter.Tweet
 ...                                ...
 479054  snscrape.modules.twitter.Tweet
 479055  snscrape.modules.twitter.Tweet
 479056  snscrape.modules.twitter.Tweet
 479057  snscrape.modules.twitter.Tweet
 479058  snscrape.modules.twitter.Tweet

                                                       url  \
 0       https://twitter.com/harisonhbn9718/status/1562...
 1       https://twitter.com/TheBigArena/status/1562521...
 2       https://twitter.com/DefoesInvest/status/156251...
 3       https://twitter.com/N013Q/status/1562510373445...
 4       https://twitter.com/CleanAirMoms/status/156249...
 ...                                                   ...
 479054        https://twitter.com/BBCWorld/status/5929582
 479055     https://twitter.com/BBCBusiness/status/5909477
 479056     https://twitter.com/BBCBusiness/status/5369405
 479057        https://twitter.com/BBCWorld/status/5369342
 479058     https://twitter.com/BBCBusiness/status/2622813

                             date  \
 0      2022-08-24 20:45:05+00:00
 1      2022-08-24 19:26:32+00:00
 2      2022-08-24 19:01:15+00:00
 3      2022-08-24 18:41:17+00:00
 4      2022-08-24 17:58:41+00:00
 ...                          ...
 479054 2007-03-08 12:52:14+00:00
 479055 2007-03-07 18:10:33+00:00
 479056 2007-02-08 13:00:17+00:00
 479057 2007-02-08 12:51:03+00:00
 479058 2007-01-11 12:50:45+00:00

                                                rawContent  \
 0       Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
 1       #EURUSD at 0.99 for the first time since 2003....
 2       The European Central Bank (ECB) is planning to...
 3       In the digital economy, cash is no longer a us...
 4       Reading: What the U.S. Federal Reserve must do...
 ...                                                   ...
 479054  The European Central Bank raises its key inter...
 479055  The European Central Bank is expected to raise...
 479056  The European Central Bank keeps its key intere...
 479057  The European Central Bank keeps its key intere...
 479058  The European Central Bank   keeps its key euro...

                                           renderedContent  \
 0       Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
 1       #EURUSD at 0.99 for the first time since 2003....
 2       The European Central Bank (ECB) is planning to...
 3       In the digital economy, cash is no longer a us...
 4       Reading: What the U.S. Federal Reserve must do...
 ...                                                   ...
 479054  The European Central Bank raises its key inter...
 479055  The European Central Bank is expected to raise...
 479056  The European Central Bank keeps its key intere...
 479057  The European Central Bank keeps its key intere...
 479058  The European Central Bank   keeps its key euro...

                          id  \
 0       1562541528740151296
 1       1562521759454138368
 2       1562515396330422275
 3       1562510373445545985
 4       1562499651952996352
 ...                     ...
 479054              5929582
 479055              5909477
 479056              5369405
 479057              5369342
 479058              2622813

                                                      user  replyCount  \
 0       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 1       {'_type': 'snscrape.modules.twitter.User', 'us...           1
 2       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 3       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 4       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 ...                                                   ...         ...
 479054  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 479055  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 479056  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 479057  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 479058  {'_type': 'snscrape.modules.twitter.User', 'us...           0

         retweetCount  likeCount  ...  retweetedTweet  quotedTweet  \
 0                  0          0  ...             NaN         None
 1                  0          0  ...             NaN         None
 2                  0          0  ...             NaN         None
 3                  1          8  ...             NaN         None
 4                  0          0  ...             NaN         None
 ...              ...        ...  ...             ...          ...
 479054             0          0  ...             NaN         None
 479055             0          0  ...             NaN         None
 479056             0          0  ...             NaN         None
 479057             0          0  ...             NaN         None
 479058             1          0  ...             NaN         None

        inReplyToTweetId inReplyToUser mentionedUsers coordinates place  \
 0                   NaN          None           None        None  None
 1                   NaN          None           None        None  None
 2                   NaN          None           None        None  None
 3                   NaN          None           None        None  None
 4                   NaN          None           None        None  None
 ...                 ...           ...            ...         ...   ...
 479054              NaN          None           None        None  None
 479055              NaN          None           None        None  None
 479056              NaN          None           None        None  None
 479057              NaN          None           None        None  None
 479058              NaN          None           None        None  None

                   hashtags  cashtags  \
 0                     None      None
 1                 [EURUSD]      None
 2       [defoes, defoesag]      None
 3                     None      None
 4                [Climate]      None
 ...                    ...       ...
 479054                None      None
 479055                None      None
 479056                None      None
 479057                None      None
 479058                None      None

                                                      card
 0                                                    None
 1                                                    None
 2                                                    None
 3                                                    None
 4       {'_type': 'snscrape.modules.twitter.SummaryCar...
 ...                                                   ...
 479054                                               None
 479055                                               None
 479056                                               None
 479057                                               None
 479058                                               None

 [479059 rows x 28 columns],
                                  _type  \
 0       snscrape.modules.twitter.Tweet
 1       snscrape.modules.twitter.Tweet
 2       snscrape.modules.twitter.Tweet
 3       snscrape.modules.twitter.Tweet
 4       snscrape.modules.twitter.Tweet
 ...                                ...
 684130  snscrape.modules.twitter.Tweet
 684131  snscrape.modules.twitter.Tweet
 684132  snscrape.modules.twitter.Tweet
 684133  snscrape.modules.twitter.Tweet
 684134  snscrape.modules.twitter.Tweet

                                                       url  \
 0       https://twitter.com/Cryptschko/status/15484517...
 1       https://twitter.com/AndrewHigsdrew/status/1548...
 2       https://twitter.com/Bitcoin_Korea/status/15484...
 3       https://twitter.com/BTCTN/status/1548442831143...
 4       https://twitter.com/cricexec/status/1548442355...
 ...                                                   ...
 684130         https://twitter.com/canha/status/786509743
 684131         https://twitter.com/canha/status/781707878
 684132         https://twitter.com/canha/status/774147150
 684133         https://twitter.com/canha/status/768229597
 684134         https://twitter.com/canha/status/717583392

                             date  \
 0      2022-07-16 23:37:11+00:00
 1      2022-07-16 23:27:03+00:00
 2      2022-07-16 23:06:25+00:00
 3      2022-07-16 23:01:54+00:00
 4      2022-07-16 23:00:00+00:00
 ...                          ...
 684130 2008-04-10 15:00:39+00:00
 684131 2008-04-02 20:31:49+00:00
 684132 2008-03-19 22:59:43+00:00
 684133 2008-03-07 21:29:25+00:00
 684134 2008-02-15 21:39:47+00:00

                                                rawContent  \
 0       Ist der EURO noch zu retten? (EZB in der Zwick...
 1       #ECB Bond Tool Seen Having No Limits as Steepe...
 2       #Digitaleuro to be more efficient as a means o...
 3       #Digitaleuro to be more efficient as a means o...
 4       .@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
 ...                                                   ...
 684130  Bem que hj podia ser sexta. E bem que eu podia...
 684131  @allanrfs @nagueva e pessoal do #ecb - vide se...
 684132  @webparatodos #ecb toda sexta, com excessão de...
 684133  Tamo indo pro #ecb mais tarde (eu, o @aguinelo...
 684134   Chegando no #ebc ou #ecb qse morrendo atropelado

                                           renderedContent  \
 0       Ist der EURO noch zu retten? (EZB in der Zwick...
 1       #ECB Bond Tool Seen Having No Limits as Steepe...
 2       #Digitaleuro to be more efficient as a means o...
 3       #Digitaleuro to be more efficient as a means o...
 4       .@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
 ...                                                   ...
 684130  Bem que hj podia ser sexta. E bem que eu podia...
 684131  @allanrfs @nagueva e pessoal do #ecb - vide se...
 684132  @webparatodos #ecb toda sexta, com excessão de...
 684133  Tamo indo pro #ecb mais tarde (eu, o @aguinelo...
 684134   Chegando no #ebc ou #ecb qse morrendo atropelado

                          id  \
 0       1548451710472839171
 1       1548449160541548545
 2       1548443968030928899
 3       1548442831143849984
 4       1548442355837022208
 ...                     ...
 684130            786509743
 684131            781707878
 684132            774147150
 684133            768229597
 684134            717583392

                                                      user  replyCount  \
 0       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 1       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 2       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 3       {'_type': 'snscrape.modules.twitter.User', 'us...         108
 4       {'_type': 'snscrape.modules.twitter.User', 'us...           0
 ...                                                   ...         ...
 684130  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 684131  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 684132  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 684133  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 684134  {'_type': 'snscrape.modules.twitter.User', 'us...           0

         retweetCount  likeCount  ...  retweetedTweet  \
 0                  0          0  ...             NaN
 1                  0          0  ...             NaN
 2                  0          0  ...             NaN
 3                 44        140  ...             NaN
 4                  0          0  ...             NaN
 ...              ...        ...  ...             ...
 684130             0          0  ...             NaN
 684131             0          0  ...             NaN
 684132             0          0  ...             NaN
 684133             0          0  ...             NaN
 684134             0          0  ...             NaN

                                               quotedTweet inReplyToTweetId  \
 0                                                    None              NaN
 1                                                    None              NaN
 2       {'_type': 'snscrape.modules.twitter.Tweet', 'u...              NaN
 3                                                    None              NaN
 4                                                    None              NaN
 ...                                                   ...              ...
 684130                                               None              NaN
 684131                                               None      781626997.0
 684132                                               None      774145855.0
 684133                                               None              NaN
 684134                                               None              NaN

                                             inReplyToUser  \
 0                                                    None
 1                                                    None
 2                                                    None
 3                                                    None
 4                                                    None
 ...                                                   ...
 684130                                               None
 684131  {'_type': 'snscrape.modules.twitter.User', 'us...
 684132  {'_type': 'snscrape.modules.twitter.User', 'us...
 684133                                               None
 684134                                               None

                                            mentionedUsers coordinates place  \
 0                                                    None        None  None
 1                                                    None        None  None
 2                                                    None        None  None
 3                                                    None        None  None
 4       [{'_type': 'snscrape.modules.twitter.User', 'u...        None  None
 ...                                                   ...         ...   ...
 684130                                               None        None  None
 684131  [{'_type': 'snscrape.modules.twitter.User', 'u...        None  None
 684132  [{'_type': 'snscrape.modules.twitter.User', 'u...        None  None
 684133  [{'_type': 'snscrape.modules.twitter.User', 'u...        None  None
 684134                                               None        None  None

                                                  hashtags  cashtags  \
 0                                  [euro, ecb, inflation]      None
 1       [ECB, MoneyPrinting, Gold, Silver, Stimulus, Q...      None
 2                    [Digitaleuro, cryptocurrencies, ECB]      None
 3                    [Digitaleuro, cryptocurrencies, ECB]      None
 4                           [ECB, EnglandCricket, ENGvSA]      None
 ...                                                   ...       ...
 684130                                              [ecb]      None
 684131                                              [ecb]      None
 684132                                              [ecb]      None
 684133                                              [ecb]      None
 684134                                         [ebc, ecb]      None

                                                      card
 0       {'_type': 'snscrape.modules.twitter.PlayerCard...
 1       {'_type': 'snscrape.modules.twitter.SummaryCar...
 2       {'_type': 'snscrape.modules.twitter.SummaryCar...
 3       {'_type': 'snscrape.modules.twitter.SummaryCar...
 4                                                    None
 ...                                                   ...
 684130                                               None
 684131                                               None
 684132                                               None
 684133                                               None
 684134                                               None

 [684135 rows x 28 columns],
                                 _type  \
 0      snscrape.modules.twitter.Tweet
 1      snscrape.modules.twitter.Tweet
 2      snscrape.modules.twitter.Tweet
 3      snscrape.modules.twitter.Tweet
 4      snscrape.modules.twitter.Tweet
 ...                               ...
 32853  snscrape.modules.twitter.Tweet
 32854  snscrape.modules.twitter.Tweet
 32855  snscrape.modules.twitter.Tweet
 32856  snscrape.modules.twitter.Tweet
 32857  snscrape.modules.twitter.Tweet

                                                      url  \
 0      https://twitter.com/llCereal_Boxll/status/1562...
 1      https://twitter.com/KGlevina/status/1562519572...
 2      https://twitter.com/vivekkb07/status/156249702...
 3      https://twitter.com/hathareskan/status/1562496...
 4      https://twitter.com/finimage/status/1562457715...
 ...                                                  ...
 32853        https://twitter.com/EEPaul/status/811776556
 32854      https://twitter.com/FRANCE24/status/798620499
 32855  https://twitter.com/cnafrontpage/status/591802832
 32856   https://twitter.com/BBCBusiness/status/100087342
 32857  https://twitter.com/BBCScienceNews/status/1000...

                            date  \
 0     2022-08-24 22:57:47+00:00
 1     2022-08-24 19:17:50+00:00
 2     2022-08-24 17:48:15+00:00
 3     2022-08-24 17:46:12+00:00
 4     2022-08-24 15:12:03+00:00
 ...                         ...
 32853 2008-05-15 09:23:49+00:00
 32854 2008-04-28 11:13:45+00:00
 32855 2008-01-12 18:29:33+00:00
 32856 2007-06-11 17:10:11+00:00
 32857 2007-06-11 17:00:17+00:00

                                               rawContent  \
 0      @FeralJesus @LIFEWITHNUANCE @WhiskeyMutineer @...
 1      especially about the energy. The contract betw...
 2      GS3 Economy: The 12th Ministerial Conference (...
 3      European Union’s economies are under considera...
 4      @Douglas4Moray Surprise us, you're defending t...
 ...                                                  ...
 32853  European Union to promote use of ICT to improv...
 32854  www.france24.com EUROPEAN UNION - ECONOMY: Bru...
 32855  Strong euro reflects European economy: Barroso...
 32856  The European Union's vision of building a hi-t...
 32857  The European Union's vision of building a hi-t...

                                          renderedContent                   id  \
 0      @FeralJesus @LIFEWITHNUANCE @WhiskeyMutineer @...  1562574923326885888
 1      especially about the energy. The contract betw...  1562519572678574085
 2      GS3 Economy: The 12th Ministerial Conference (...  1562497025832546309
 3      European Union’s economies are under considera...  1562496512034107393
 4      @Douglas4Moray Surprise us, you're defending t...  1562457715490050051
 ...                                                  ...                  ...
 32853  European Union to promote use of ICT to improv...            811776556
 32854  www.france24.com EUROPEAN UNION - ECONOMY: Bru...            798620499
 32855  Strong euro reflects European economy: Barroso...            591802832
 32856  The European Union's vision of building a hi-t...            100087342
 32857  The European Union's vision of building a hi-t...            100069682

                                                     user  replyCount  \
 0      {'_type': 'snscrape.modules.twitter.User', 'us...           0
 1      {'_type': 'snscrape.modules.twitter.User', 'us...           0
 2      {'_type': 'snscrape.modules.twitter.User', 'us...           0
 3      {'_type': 'snscrape.modules.twitter.User', 'us...           1
 4      {'_type': 'snscrape.modules.twitter.User', 'us...           0
 ...                                                  ...         ...
 32853  {'_type': 'snscrape.modules.twitter.User', 'us...           0
 32854  {'_type': 'snscrape.modules.twitter.User', 'us...           0

In [5]:
%%script false --no-raise-error 
    #alternative approach to load the json files, slower and larger memory footprint, so avoid running it
%%time
import pandas as pd
list_input_df = list(map(lambda path: pd.read_json("data/json_files/"+path, lines=True), list_paths))
list_input_df

In [6]:
tweets_df = pd.concat(list_input_df)
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1562541528740151296,2022-08-24 20:45:05+00:00,Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
1,1562521759454138368,2022-08-24 19:26:32+00:00,#EURUSD at 0.99 for the first time since 2003....
2,1562515396330422275,2022-08-24 19:01:15+00:00,The European Central Bank (ECB) is planning to...
3,1562510373445545985,2022-08-24 18:41:17+00:00,"In the digital economy, cash is no longer a us..."
4,1562499651952996352,2022-08-24 17:58:41+00:00,Reading: What the U.S. Federal Reserve must do...
...,...,...,...
34302,1173870255543902214,2019-09-17 08:04:13+00:00,"Pulver endgültig verschossen, #EZB-Rat tief ge..."
34303,1173862961817014273,2019-09-17 07:35:14+00:00,"#ECB, i.c. #Draghi, bedrijft politiek; dat wor..."
34304,1173861717358665728,2019-09-17 07:30:17+00:00,¿Cómo serán las #hipotecas con #Lagarde al fre...
34305,1173861522092765184,2019-09-17 07:29:30+00:00,Ma chronique hebdo taux @allnews_ch #Powell #f...
34306,1173858586470080512,2019-09-17 07:17:50+00:00,Rencontre avec la presse européenne en #PlenPE...

We are not using tweets about the USD because it is possible that the demand of US dollars increases (e.g., due to fears of recession and the corresponding search for safe heavens as it still has this reputation), but at the same time people can be unsatified with the way that the FED deals with inflation. In that scenario, the sentiment around USD in twitter would be negative in general, but it its demand can still increases.

In [7]:
#process json file
    #https://www.kaggle.com/code/prathamsharma123/clean-raw-json-tweets-data/notebook
print(tweets_df.shape)
    #as many rows as tweets
    #as many columns as features in each tweet

(2671777, 28)

In [8]:
#see features
print(tweets_df.columns)

Index(['_type', 'url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card'],
      dtype='object')

In [9]:
#get all columns for the first tweet
print(tweets_df.iloc[0, :])

_type                                  snscrape.modules.twitter.Tweet
url                 https://twitter.com/harisonhbn9718/status/1562...
date                                        2022-08-24 20:45:05+00:00
rawContent          Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
renderedContent     Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
id                                                1562541528740151296
user                {'_type': 'snscrape.modules.twitter.User', 'us...
replyCount                                                          0
retweetCount                                                        0
likeCount                                                           0
quoteCount                                                          0
conversationId                                    1562541528740151296
lang                                                               en
source              <a href="https://mobile.twitter.com" rel="nofo...
sourceUrl                                  https://mobile.twitter.com
sourceLabel                                           Twitter Web App
links                                                            None
media                                                            None
retweetedTweet                                                    NaN
quotedTweet                                                      None
inReplyToTweetId                                                  NaN
inReplyToUser                                                    None
mentionedUsers                                                   None
coordinates                                                      None
place                                                            None
hashtags                                                         None
cashtags                                                         None
card                                                             None
Name: 0, dtype: object

In [10]:
#reset the indeces to avoid problems when indexing
tweets_df = tweets_df.reset_index(drop=True)
    #use drop drop parameter to avoid the old index being added as a column
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1562541528740151296,2022-08-24 20:45:05+00:00,Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
1,1562521759454138368,2022-08-24 19:26:32+00:00,#EURUSD at 0.99 for the first time since 2003....
2,1562515396330422275,2022-08-24 19:01:15+00:00,The European Central Bank (ECB) is planning to...
3,1562510373445545985,2022-08-24 18:41:17+00:00,"In the digital economy, cash is no longer a us..."
4,1562499651952996352,2022-08-24 17:58:41+00:00,Reading: What the U.S. Federal Reserve must do...
...,...,...,...
2671772,1173870255543902214,2019-09-17 08:04:13+00:00,"Pulver endgültig verschossen, #EZB-Rat tief ge..."
2671773,1173862961817014273,2019-09-17 07:35:14+00:00,"#ECB, i.c. #Draghi, bedrijft politiek; dat wor..."
2671774,1173861717358665728,2019-09-17 07:30:17+00:00,¿Cómo serán las #hipotecas con #Lagarde al fre...
2671775,1173861522092765184,2019-09-17 07:29:30+00:00,Ma chronique hebdo taux @allnews_ch #Powell #f...
2671776,1173858586470080512,2019-09-17 07:17:50+00:00,Rencontre avec la presse européenne en #PlenPE...

In [11]:
#check we have the expected number of rows
tweets_df.shape[0] == sum([len(data_frame) for data_frame in list_input_df])

True

In [12]:
#release space
del(list_input_df)
import gc
gc.collect()

0

In [13]:
#check for duplicated IDs
tweets_df["id"].duplicated().any()

True

In [14]:
#take a look to one of the duplicated IDs
example_duplicated_id = tweets_df[tweets_df["id"].duplicated()].iloc[2,:].loc["id"] #get the ID

#get the URL for all tweets having the example ID and check if there are identical URLs
tweets_df.loc[tweets_df["id"] == example_duplicated_id, "url"].duplicated().any()
    #tweets with the same ID have the same URL, so they are the same tweet

True

In [15]:
#remove tweets with a duplicated id
tweets_df = tweets_df.drop_duplicates(subset=['id'])
tweets_df.shape

(2531545, 28)

In [16]:
#check languages
import numpy as np
np.unique(tweets_df["lang"])

array(['ar', 'bg', 'bn', 'ca', 'ckb', 'cs', 'cy', 'da', 'de', 'el', 'en',
       'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gu', 'hi', 'ht', 'hu', 'hy',
       'in', 'is', 'it', 'iw', 'ja', 'ka', 'kn', 'ko', 'lt', 'lv', 'ml',
       'mr', 'my', 'ne', 'nl', 'no', 'or', 'pa', 'pl', 'ps', 'pt', 'qam',
       'qht', 'qme', 'qst', 'ro', 'ru', 'sd', 'si', 'sl', 'sr', 'sv',
       'ta', 'te', 'th', 'tl', 'tr', 'uk', 'und', 'ur', 'vi', 'zh', 'zxx'],
      dtype=object)

In [17]:
#see tweets not in english
sum(tweets_df["lang"] != "en")

392435

In [18]:
#select only tweets in english
tweets_df_en = tweets_df[tweets_df["lang"] == "en"]
tweets_df_en.shape
    #CHECK IF THE SENTIMENT MODEL USED CAN DEAL WITH OTHER LANGUAGES

(2139110, 28)

It seems that "rawContent" shows the raw tweet content, while "renderedContent" show the strings that would bet shown by the web app ([link](https://github.com/JustAnotherArchivist/snscrape/issues/479)).

We are going to use the raw tweet because it seem it could have more information. They do not seem to be very different anyways:

In [19]:
tweets_df_en.loc[:, "rawContent"].iloc[0:10,]

0    Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
1    #EURUSD at 0.99 for the first time since 2003....
2    The European Central Bank (ECB) is planning to...
3    In the digital economy, cash is no longer a us...
4    Reading: What the U.S. Federal Reserve must do...
5    NEW - European Central Bank’s Rehn: The invest...
6    Crypto: European industry in danger! https://t...
7    If there is one thing households in this count...
8    @moonblocks_ @lucas_gool @FinanceChainge @Bloc...
9    The European Central Bank creates a unified re...
Name: rawContent, dtype: object

In [20]:
tweets_df_en.loc[:, "renderedContent"].iloc[0:10,]

0    Economic Calendar for Tomorrow:\n\n🇩🇪1) German...
1    #EURUSD at 0.99 for the first time since 2003....
2    The European Central Bank (ECB) is planning to...
3    In the digital economy, cash is no longer a us...
4    Reading: What the U.S. Federal Reserve must do...
5    NEW - European Central Bank’s Rehn: The invest...
6    Crypto: European industry in danger! geeky.new...
7    If there is one thing households in this count...
8    @moonblocks_ @lucas_gool @FinanceChainge @Bloc...
9    The European Central Bank creates a unified re...
Name: renderedContent, dtype: object

## Sentiment analysis of tweets

We will use VADER to perform the sentiment analysis. There are alternatives like TextBlob, but VADER meets well our requeriments
- It is sensitive to both polarity (positive/negative) and intensity (strength) of emotion.
- you get a positive, negative neutral scores and a compound score 
- labelled data not required because it is pre-trained ([link](https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664), [link](https://towardsdatascience.com/sentiment-analysis-of-tweets-167d040f0583))

In [21]:
#take example tweet
example_tweet = tweets_df_en.loc[1, "rawContent"]

In [22]:
#VADER can be used from vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

#open instance
analyzer = SentimentIntensityAnalyzer()

#example
print(analyzer.polarity_scores(example_tweet))
print(example_tweet)

{'neg': 0.252, 'neu': 0.71, 'pos': 0.038, 'compound': -0.8294}
#EURUSD at 0.99 for the first time since 2003.
 The war, the energy crisis, the drought, but also the delayed reaction of the European Central Bank to moderate inflation weakened the EU currency. https://t.co/qkNjD8u8ND

In [23]:
#or from nlTK
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#instance
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/dftortosa/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [24]:
#we get similar results
print(sid.polarity_scores(example_tweet))
print(analyzer.polarity_scores(example_tweet))

{'neg': 0.252, 'neu': 0.71, 'pos': 0.038, 'compound': -0.8294}
{'neg': 0.252, 'neu': 0.71, 'pos': 0.038, 'compound': -0.8294}

Define function to clean the tweet text

In [25]:
import re
def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet).split()).replace("#", "")

##CHECK REGULAR EXPRESSIONS
#https://www.sciencedirect.com/science/article/pii/S104244312030072X

In [26]:
print(example_tweet)
clean_tweet(example_tweet)

#EURUSD at 0.99 for the first time since 2003.
 The war, the energy crisis, the drought, but also the delayed reaction of the European Central Bank to moderate inflation weakened the EU currency. https://t.co/qkNjD8u8ND

'EURUSD at 0.99 for the first time since 2003. The war the energy crisis the drought but also the delayed reaction of the European Central Bank to moderate inflation weakened the EU currency'

In [1]:
print(analyzer.polarity_scores(clean_tweet(example_tweet)))

NameError: name 'analyzer' is not defined

We are going to use the compound sentiment. In this way, we consider both the negative and positive sentiment around the BCE and the economy of Europe.

In [26]:
#define function to be applied per row
def sentiment_per_row(raw_tweet):
        
    #clean
    tweet_cleaned = clean_tweet(raw_tweet)
        #import preprocessor as p; p.clean()
    
    #get the negative sentiment
    sentiment = analyzer.polarity_scores(tweet_cleaned)["compound"]

    #return
    return sentiment

In [27]:
import multiprocessing as mp

with mp.Pool(10) as pool:
    tweets_df_en["sentiment"] = pool.map(sentiment_per_row, tweets_df_en["rawContent"])
        #for each row in tweets_df_en["rawContent"], apply sentiment_per_row across 10 cores
        #https://stackoverflow.com/questions/45545110/make-pandas-dataframe-apply-use-all-cores
    pool.close()
    
#CHECK: https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [28]:
#get the date and sentiment
sentiment_results_df = tweets_df_en[["date", "sentiment"]]
sentiment_results_df

                             date  sentiment
0       2022-08-24 20:45:05+00:00    -0.7351
1       2022-08-24 19:26:32+00:00    -0.8294
2       2022-08-24 19:01:15+00:00     0.4404
3       2022-08-24 18:41:17+00:00     0.4588
4       2022-08-24 17:58:41+00:00    -0.2732
...                           ...        ...
2671751 2019-09-17 09:51:04+00:00    -0.9360
2671752 2019-09-17 09:42:17+00:00    -0.2120
2671755 2019-09-17 09:29:04+00:00    -0.1036
2671756 2019-09-17 09:18:08+00:00    -0.0806
2671769 2019-09-17 08:39:29+00:00     0.0000

[2139110 rows x 2 columns]

In [29]:
#leave only year, month and day
sentiment_results_df["date"] = pd.to_datetime(sentiment_results_df["date"].dt.strftime('%Y-%m-%d'))
    #https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas
    #https://stackoverflow.com/questions/20689288/converting-pandas-columns-to-datetime64-including-missing-values
sentiment_results_df

#CHECK WARNING

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              date  sentiment
0       2022-08-24    -0.7351
1       2022-08-24    -0.8294
2       2022-08-24     0.4404
3       2022-08-24     0.4588
4       2022-08-24    -0.2732
...            ...        ...
2671751 2019-09-17    -0.9360
2671752 2019-09-17    -0.2120
2671755 2019-09-17    -0.1036
2671756 2019-09-17    -0.0806
2671769 2019-09-17     0.0000

[2139110 rows x 2 columns]

In [30]:
#check we have rows ordered in chronologicla order
sentiment_results_df.equals(sentiment_results_df.sort_index())

True

Now let's calculate several metrics for the sentiment of each day and save them in list of data.frames. We can calculate the average, quartiles, std...

In [31]:
sentiment_results_df.groupby("date")["sentiment"].mean()

date
2007-01-11    0.458800
2007-01-15    0.510600
2007-02-08    0.458800
2007-03-07    0.458800
2007-03-08    0.458800
                ...
2022-08-20   -0.013050
2022-08-21    0.008140
2022-08-22    0.005362
2022-08-23   -0.020686
2022-08-24   -0.029310
Name: sentiment, Length: 5312, dtype: float64

We can use lambda to define our own calculations like the interquartile range:

In [32]:
sentiment_results_df.groupby("date")["sentiment"].apply(lambda a: (np.percentile(a, 75) - np.percentile(a, 25)))

date
2007-01-11    0.000000
2007-01-15    0.000000
2007-02-08    0.000000
2007-03-07    0.000000
2007-03-08    0.000000
                ...
2022-08-20    0.823400
2022-08-21    0.889600
2022-08-22    0.782300
2022-08-23    0.932100
2022-08-24    0.748725
Name: sentiment, Length: 5312, dtype: float64

In [33]:
#get the most frequent value
from statistics import mode
mode([1,2,3,1,1])

1

In [34]:
#std gives NA for cases with n=1
print(pd.DataFrame([1,1]).std()) #std = 0
print(pd.DataFrame([1,2]).std()) #std = 0.7
print(pd.DataFrame([1]).std()) #std = NaN

0    0.0
dtype: float64
0    0.707107
dtype: float64
0   NaN
dtype: float64

This is solved using ddof=0. ddof is Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements

In [35]:
print(pd.DataFrame([1,1]).std(ddof=0)) #std = 0
print(pd.DataFrame([1,2]).std(ddof=0)) #std = 0.7
print(pd.DataFrame([1]).std(ddof=0)) #std = NaN

0    0.0
dtype: float64
0    0.5
dtype: float64
0    0.0
dtype: float64

We get the same results with np.std and .std(ddof=0)

In [36]:
print(np.std([1,1])) #std = 0
print(np.std([1,2])) #std = 0.7
print(np.std([1])) #std = NaN

0.0
0.5
0.0

We can calculate the range

In [37]:
sentiment_results_df.groupby("date")["sentiment"].apply(lambda x: np.max(x) - np.min(x))

date
2007-01-11    0.0000
2007-01-15    0.0000
2007-02-08    0.0000
2007-03-07    0.0000
2007-03-08    0.0000
               ...
2022-08-20    1.9133
2022-08-21    1.9435
2022-08-22    1.9297
2022-08-23    1.9184
2022-08-24    1.8991
Name: sentiment, Length: 5312, dtype: float64

variance

In [38]:
sentiment_results_df.groupby("date")["sentiment"].var()

date
2007-01-11         NaN
2007-01-15         NaN
2007-02-08    0.000000
2007-03-07         NaN
2007-03-08         NaN
                ...
2022-08-20    0.256484
2022-08-21    0.298934
2022-08-22    0.247622
2022-08-23    0.273337
2022-08-24    0.241610
Name: sentiment, Length: 5312, dtype: float64

We are going to use evaluate inside the function in order to perform the different operations we need. For example:

In [39]:
operation="mean"
string_evaluate = 'sentiment_results_df.groupby("date")["sentiment"].' + operation + '().to_frame()'
string_evaluate

'sentiment_results_df.groupby("date")["sentiment"].mean().to_frame()'

In [40]:
eval(string_evaluate)

            sentiment
date
2007-01-11   0.458800
2007-01-15   0.510600
2007-02-08   0.458800
2007-03-07   0.458800
2007-03-08   0.458800
...               ...
2022-08-20  -0.013050
2022-08-21   0.008140
2022-08-22   0.005362
2022-08-23  -0.020686
2022-08-24  -0.029310

[5312 rows x 1 columns]

We are interested in have a row per day, so we can exactly calculate the sentiment of 1, 10... days ago

In [41]:
#we can use min and max to select the earliest and latest dates
print(np.min(np.unique(sentiment_results_df["date"])))
print(np.max(np.unique(sentiment_results_df["date"])))

2007-01-11T00:00:00.000000000
2022-08-24T00:00:00.000000000

In [42]:
#first calculate the time range from the earliest to latest date
idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                    np.max(np.unique(sentiment_results_df["date"])))
idx

DatetimeIndex(['2007-01-11', '2007-01-12', '2007-01-13', '2007-01-14',
               '2007-01-15', '2007-01-16', '2007-01-17', '2007-01-18',
               '2007-01-19', '2007-01-20',
               ...
               '2022-08-15', '2022-08-16', '2022-08-17', '2022-08-18',
               '2022-08-19', '2022-08-20', '2022-08-21', '2022-08-22',
               '2022-08-23', '2022-08-24'],
              dtype='datetime64[ns]', length=5705, freq='D')

In [43]:
#calculate the mean sentiment in tweets per day and then re-index considering all days between the earliest and 
#latest date. Those dates without tweets will have NaN
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.458800
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.510600
                ...
2022-08-20   -0.013050
2022-08-21    0.008140
2022-08-22    0.005362
2022-08-23   -0.020686
2022-08-24   -0.029310
Freq: D, Name: sentiment, Length: 5705, dtype: float64

You can see how there is a gap without tweets between 11 and 15 of January and, accordingly, the days between have NaN

In [44]:
np.unique(sentiment_results_df["date"])[0:2]

array(['2007-01-11T00:00:00.000000000', '2007-01-15T00:00:00.000000000'],
      dtype='datetime64[ns]')

We can also shift the rows after making an operation per day, i.e., move the value of day 1 to day 2, value of day 2 to day 3, and so on...

In [45]:
#first calculate the average sentiment per day
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.458800
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.510600
                ...
2022-08-20   -0.013050
2022-08-21    0.008140
2022-08-22    0.005362
2022-08-23   -0.020686
2022-08-24   -0.029310
Freq: D, Name: sentiment, Length: 5705, dtype: float64

In [46]:
#Now shift 2 days, so 2022-07-16 has now the average of the previous day (2022-07-15)
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN).shift(1)

2007-01-11         NaN
2007-01-12    0.458800
2007-01-13         NaN
2007-01-14         NaN
2007-01-15         NaN
                ...
2022-08-20    0.043817
2022-08-21   -0.013050
2022-08-22    0.008140
2022-08-23    0.005362
2022-08-24   -0.020686
Freq: D, Name: sentiment, Length: 5705, dtype: float64

Shift zero would be equal to the original variable, no change:

In [47]:
sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN).shift(0).equals(sentiment_results_df.groupby("date")["sentiment"].mean().reindex(idx, fill_value=np.NaN))

True

In [48]:
sentiment_results_df["sentiment"].shift(0).equals(sentiment_results_df["sentiment"])

True

Now, we are going to calculate different summary statistics of the sentiment of the previous days (1, 5, 10, 60 days ago):

In [49]:
###CHECK THIS!!!

#define a function to do a given operation grouping by day but considering the a previous date
def groupby_calcs(operation, metric_name, args="", n_previous_days=2):
        
    #get the string with the operation name
    string_evaluate = 'sentiment_results_df.groupby("date")["sentiment"].' + operation + '(' + args + ').to_frame()'
        #do operations for the sentiment of each day and then convert to df

    #evaluate to get the DF with the calculations per day
    data_frame = eval(string_evaluate)
    
    #extract the range of days for which we have data
    time_range = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), 
                        np.max(np.unique(sentiment_results_df["date"])))
    
    #fill with NaN those dates with data
    data_frame = data_frame.reindex(time_range, fill_value=np.NaN)
        #https://stackoverflow.com/questions/15610805/accessing-row-from-previous-day-in-pandas-dataframe-with-apply
    
    #get sentiment of the previous days
    data_frame['sentiment'] = data_frame['sentiment'].shift(n_previous_days)
        #https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
        
    #reset the index
    data_frame = data_frame.reset_index(level=0)
        #set the index (date) as column 
  
    #change the column name for sentiment
    data_frame = data_frame.rename(columns={'index': 'date', 'sentiment': metric_name + '_sent_previous_' + str(n_previous_days) + '_days'})

    #append the df to the list
    return data_frame
    

def groupby_calcs_across_dates(previous_date):
    
    #define a list of operations to do
    metrics_sentiment = ["quantile_0.05",
                         "quantile_0.1",
                         "quantile_0.2",
                         "quantile_0.3",
                         "quantile_0.4",
                         "quantile_0.5",
                         "quantile_0.6",
                         "quantile_0.7",
                         "quantile_0.8",
                         "quantile_0.9",
                         "quantile_0.95",
                         "mean",
                         "min",
                         "max",
                         "sum",
                         "count", 
                             #this can be useful to control for averages with low number of tweets
                             #but also to consider how much people is talking about europes economy 
                         "range", 
                         "var", 
                         "std", 
                         "iqr"]
    
    #open list to save each calculation
    list_data_frames = []
    
    #apply each operation
    for metric in metrics_sentiment:
        
        #for std
        if metric == "std":
            #use ddof=0 to get zero for cases with 1 tweet per day (see above)
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          args='ddof=0', 
                          n_previous_days=previous_date)
        elif "quantile" in metric: #if quantile
            #get the operation name and the quantile number
            operation_name = metric.split("_")[0]
            quantile_number = metric.split("_")[1]
            result_calc = groupby_calcs(operation=operation_name, 
                          metric_name=metric, 
                          args=quantile_number, 
                          n_previous_days=previous_date) 
        elif "range" in metric:
            result_calc = groupby_calcs(operation="apply", 
                          metric_name=metric, 
                          args="lambda x: np.max(x) - np.min(x)",
                          n_previous_days=previous_date)
        elif "iqr" in metric:
            result_calc = groupby_calcs(operation="apply", 
                          metric_name=metric, 
                          args="lambda x: (np.percentile(x, 75) - np.percentile(x, 25))",
                          n_previous_days=previous_date)   
        else: 
            result_calc = groupby_calcs(operation=metric, 
                          metric_name=metric, 
                          n_previous_days=previous_date)
           
        list_data_frames.append(result_calc)
        
    return list_data_frames

In [50]:
groupby_calcs_across_dates(2)

[           date  quantile_0.05_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                            0.458800
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                           -0.743000
 5701 2022-08-21                           -0.813775
 5702 2022-08-22                           -0.848260
 5703 2022-08-23                           -0.848950
 5704 2022-08-24                           -0.825080

 [5705 rows x 2 columns],
            date  quantile_0.1_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                           -0.47670
 5701 2022-08-21                           -0.69080
 5702 2022-08-22                           -0.74984
 5703 2022-08-23                           -0.78450
 5704 2022-08-24                           -0.70030

 [5705 rows x 2 columns],
            date  quantile_0.2_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                           -0.20230
 5701 2022-08-21                           -0.45880
 5702 2022-08-22                           -0.48142
 5703 2022-08-23                           -0.54230
 5704 2022-08-24                           -0.49178

 [5705 rows x 2 columns],
            date  quantile_0.3_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.00000
 5701 2022-08-21                           -0.22025
 5702 2022-08-22                           -0.30006
 5703 2022-08-23                           -0.33540
 5704 2022-08-24                           -0.28928

 [5705 rows x 2 columns],
            date  quantile_0.4_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                             0.4588
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                             0.0000
 5701 2022-08-21                             0.0000
 5702 2022-08-22                            -0.1280
 5703 2022-08-23                            -0.1007
 5704 2022-08-24                             0.0000

 [5705 rows x 2 columns],
            date  quantile_0.5_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                             0.4588
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                             0.1779
 5701 2022-08-21                             0.0000
 5702 2022-08-22                             0.0000
 5703 2022-08-23                             0.0000
 5704 2022-08-24                             0.0000

 [5705 rows x 2 columns],
            date  quantile_0.6_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.17790
 5701 2022-08-21                            0.22630
 5702 2022-08-22                            0.04936
 5703 2022-08-23                            0.13840
 5704 2022-08-24                            0.10270

 [5705 rows x 2 columns],
            date  quantile_0.7_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.31820
 5701 2022-08-21                            0.39570
 5702 2022-08-22                            0.32351
 5703 2022-08-23                            0.37150
 5704 2022-08-24                            0.32680

 [5705 rows x 2 columns],
            date  quantile_0.8_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                             0.4588
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                             0.4767
 5701 2022-08-21                             0.4404
 5702 2022-08-22                             0.4939
 5703 2022-08-23                             0.5719
 5704 2022-08-24                             0.4404

 [5705 rows x 2 columns],
            date  quantile_0.9_sent_previous_2_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                            0.45880
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.64860
 5701 2022-08-21                            0.66785
 5702 2022-08-22                            0.67995
 5703 2022-08-23                            0.77170
 5704 2022-08-24                            0.67258

 [5705 rows x 2 columns],
            date  quantile_0.95_sent_previous_2_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                            0.458800
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            0.737800
 5701 2022-08-21                            0.757900
 5702 2022-08-22                            0.768230
 5703 2022-08-23                            0.854825
 5704 2022-08-24                            0.771600

 [5705 rows x 2 columns],
            date  mean_sent_previous_2_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                   0.458800
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5700 2022-08-20                   0.105090
 5701 2022-08-21                   0.043817
 5702 2022-08-22                  -0.013050
 5703 2022-08-23                   0.008140
 5704 2022-08-24                   0.005362

 [5705 rows x 2 columns],
            date  min_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                   -0.9613
 5701 2022-08-21                   -0.9612
 5702 2022-08-22                   -0.9752
 5703 2022-08-23                   -0.9834
 5704 2022-08-24                   -0.9623

 [5705 rows x 2 columns],
            date  max_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                    0.9403
 5701 2022-08-21                    0.9485
 5702 2022-08-22                    0.9381
 5703 2022-08-23                    0.9601
 5704 2022-08-24                    0.9674

 [5705 rows x 2 columns],
            date  sum_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                    0.4588
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                   37.9374
 5701 2022-08-21                   10.3408
 5702 2022-08-22                   -2.8971
 5703 2022-08-23                    1.4326
 5704 2022-08-24                    1.5924

 [5705 rows x 2 columns],
            date  count_sent_previous_2_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         1.0
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5700 2022-08-20                       361.0
 5701 2022-08-21                       236.0
 5702 2022-08-22                       222.0
 5703 2022-08-23                       176.0
 5704 2022-08-24                       297.0

 [5705 rows x 2 columns],
            date  range_sent_previous_2_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                      0.0000
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5700 2022-08-20                      1.9016
 5701 2022-08-21                      1.9097
 5702 2022-08-22                      1.9133
 5703 2022-08-23                      1.9435
 5704 2022-08-24                      1.9297

 [5705 rows x 2 columns],
            date  var_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.175056
 5701 2022-08-21                  0.235059
 5702 2022-08-22                  0.256484
 5703 2022-08-23                  0.298934
 5704 2022-08-24                  0.247622

 [5705 rows x 2 columns],
            date  std_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                  0.000000
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.417817
 5701 2022-08-21                  0.483800
 5702 2022-08-22                  0.505301
 5703 2022-08-23                  0.545193
 5704 2022-08-24                  0.496778

 [5705 rows x 2 columns],
            date  iqr_sent_previous_2_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                  0.000000
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.394700
 5701 2022-08-21                  0.711775
 5702 2022-08-22                  0.823400
 5703 2022-08-23                  0.889600
 5704 2022-08-24                  0.782300

 [5705 rows x 2 columns]]

We are going to calculate the summary statistics for the sentiment several days before the current day

In [51]:
#get sentiment 1 and 2 weeks ago, along with 1, 2, 3, 4 and 5 months ago
list_dates = [7, 14, 30, 60, 90, 120]

#open a pool with 10 processes
pool_dates = mp.Pool(processes=10)

#apply the function for each previous day in parallel across 10 cores
list_data_frames = [pool_dates.apply_async(groupby_calcs_across_dates, args=(previous_date,)).get() for previous_date in list_dates]
    #https://stackoverflow.com/questions/42843203/how-to-get-the-result-of-multiprocessing-pool-apply-async

#close the pool
pool_dates.close()

In [52]:
#check we have the correct number of dfs in the list
#len(list_data_frames) == len(metrics_sentiment)*len(list_dates)

In [53]:
type(list_data_frames)

list

In [54]:
list_data_frames[0][0]

           date  quantile_0.05_sent_previous_7_days
0    2007-01-11                                 NaN
1    2007-01-12                                 NaN
2    2007-01-13                                 NaN
3    2007-01-14                                 NaN
4    2007-01-15                                 NaN
...         ...                                 ...
5700 2022-08-20                           -0.831400
5701 2022-08-21                           -0.853130
5702 2022-08-22                           -0.789630
5703 2022-08-23                           -0.858075
5704 2022-08-24                           -0.831710

[5705 rows x 2 columns]

In [55]:
list_data_frames[1][1]

           date  quantile_0.1_sent_previous_14_days
0    2007-01-11                                 NaN
1    2007-01-12                                 NaN
2    2007-01-13                                 NaN
3    2007-01-14                                 NaN
4    2007-01-15                                 NaN
...         ...                                 ...
5700 2022-08-20                            -0.75790
5701 2022-08-21                            -0.73990
5702 2022-08-22                            -0.71136
5703 2022-08-23                            -0.72690
5704 2022-08-24                            -0.76500

[5705 rows x 2 columns]

In [56]:
flat_list = [item for sublist in list_data_frames for item in sublist]
flat_list

[           date  quantile_0.05_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                           -0.831400
 5701 2022-08-21                           -0.853130
 5702 2022-08-22                           -0.789630
 5703 2022-08-23                           -0.858075
 5704 2022-08-24                           -0.831710

 [5705 rows x 2 columns],
            date  quantile_0.1_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                           -0.77165
 5701 2022-08-21                           -0.75498
 5702 2022-08-22                           -0.63250
 5703 2022-08-23                           -0.76500
 5704 2022-08-24                           -0.68832

 [5705 rows x 2 columns],
            date  quantile_0.2_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                           -0.51060
 5701 2022-08-21                           -0.51694
 5702 2022-08-22                           -0.37356
 5703 2022-08-23                           -0.44710
 5704 2022-08-24                           -0.26182

 [5705 rows x 2 columns],
            date  quantile_0.3_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                           -0.30850
 5701 2022-08-21                           -0.33218
 5702 2022-08-22                           -0.01806
 5703 2022-08-23                           -0.15310
 5704 2022-08-24                            0.00000

 [5705 rows x 2 columns],
            date  quantile_0.4_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.00000
 5701 2022-08-21                           -0.13176
 5702 2022-08-22                            0.00000
 5703 2022-08-23                            0.00000
 5704 2022-08-24                            0.00000

 [5705 rows x 2 columns],
            date  quantile_0.5_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                             0.0000
 5701 2022-08-21                             0.0000
 5702 2022-08-22                             0.0000
 5703 2022-08-23                             0.0000
 5704 2022-08-24                             0.1779

 [5705 rows x 2 columns],
            date  quantile_0.6_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.17790
 5701 2022-08-21                            0.14690
 5702 2022-08-22                            0.24856
 5703 2022-08-23                            0.12800
 5704 2022-08-24                            0.17790

 [5705 rows x 2 columns],
            date  quantile_0.7_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.39760
 5701 2022-08-21                            0.40190
 5702 2022-08-22                            0.44040
 5703 2022-08-23                            0.37445
 5704 2022-08-24                            0.17790

 [5705 rows x 2 columns],
            date  quantile_0.8_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.47670
 5701 2022-08-21                            0.45880
 5702 2022-08-22                            0.58310
 5703 2022-08-23                            0.47670
 5704 2022-08-24                            0.37568

 [5705 rows x 2 columns],
            date  quantile_0.9_sent_previous_7_days
 0    2007-01-11                                NaN
 1    2007-01-12                                NaN
 2    2007-01-13                                NaN
 3    2007-01-14                                NaN
 4    2007-01-15                                NaN
 ...         ...                                ...
 5700 2022-08-20                            0.74300
 5701 2022-08-21                            0.68268
 5702 2022-08-22                            0.74142
 5703 2022-08-23                            0.73510
 5704 2022-08-24                            0.59764

 [5705 rows x 2 columns],
            date  quantile_0.95_sent_previous_7_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            0.847125
 5701 2022-08-21                            0.815570
 5702 2022-08-22                            0.822130
 5703 2022-08-23                            0.813600
 5704 2022-08-24                            0.723660

 [5705 rows x 2 columns],
            date  mean_sent_previous_7_days
 0    2007-01-11                        NaN
 1    2007-01-12                        NaN
 2    2007-01-13                        NaN
 3    2007-01-14                        NaN
 4    2007-01-15                        NaN
 ...         ...                        ...
 5700 2022-08-20                   0.018669
 5701 2022-08-21                   0.001543
 5702 2022-08-22                   0.094626
 5703 2022-08-23                   0.027982
 5704 2022-08-24                   0.051237

 [5705 rows x 2 columns],
            date  min_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                   -0.9571
 5701 2022-08-21                   -0.9564
 5702 2022-08-22                   -0.9600
 5703 2022-08-23                   -0.9520
 5704 2022-08-24                   -0.9613

 [5705 rows x 2 columns],
            date  max_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                    0.9638
 5701 2022-08-21                    0.9217
 5702 2022-08-22                    0.9978
 5703 2022-08-23                    0.9612
 5704 2022-08-24                    0.9118

 [5705 rows x 2 columns],
            date  sum_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                    2.7257
 5701 2022-08-21                    0.2392
 5702 2022-08-22                   17.3165
 5703 2022-08-23                    5.4845
 5704 2022-08-24                   15.3200

 [5705 rows x 2 columns],
            date  count_sent_previous_7_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         NaN
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5700 2022-08-20                       146.0
 5701 2022-08-21                       155.0
 5702 2022-08-22                       183.0
 5703 2022-08-23                       196.0
 5704 2022-08-24                       299.0

 [5705 rows x 2 columns],
            date  range_sent_previous_7_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         NaN
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5700 2022-08-20                      1.9209
 5701 2022-08-21                      1.8781
 5702 2022-08-22                      1.9578
 5703 2022-08-23                      1.9132
 5704 2022-08-24                      1.8731

 [5705 rows x 2 columns],
            date  var_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.281126
 5701 2022-08-21                  0.276042
 5702 2022-08-22                  0.254028
 5703 2022-08-23                  0.255476
 5704 2022-08-24                  0.183833

 [5705 rows x 2 columns],
            date  std_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.528394
 5701 2022-08-21                  0.523700
 5702 2022-08-22                  0.502633
 5703 2022-08-23                  0.504155
 5704 2022-08-24                  0.428040

 [5705 rows x 2 columns],
            date  iqr_sent_previous_7_days
 0    2007-01-11                       NaN
 1    2007-01-12                       NaN
 2    2007-01-13                       NaN
 3    2007-01-14                       NaN
 4    2007-01-15                       NaN
 ...         ...                       ...
 5700 2022-08-20                  0.837275
 5701 2022-08-21                  0.822200
 5702 2022-08-22                  0.759050
 5703 2022-08-23                  0.753475
 5704 2022-08-24                  0.262600

 [5705 rows x 2 columns],
            date  quantile_0.05_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5700 2022-08-20                            -0.787310
 5701 2022-08-21                            -0.817550
 5702 2022-08-22                            -0.792280
 5703 2022-08-23                            -0.830570
 5704 2022-08-24                            -0.849415

 [5705 rows x 2 columns],
            date  quantile_0.1_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            -0.75790
 5701 2022-08-21                            -0.73990
 5702 2022-08-22                            -0.71136
 5703 2022-08-23                            -0.72690
 5704 2022-08-24                            -0.76500

 [5705 rows x 2 columns],
            date  quantile_0.2_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            -0.60492
 5701 2022-08-21                            -0.49390
 5702 2022-08-22                            -0.48358
 5703 2022-08-23                            -0.52670
 5704 2022-08-24                            -0.59880

 [5705 rows x 2 columns],
            date  quantile_0.3_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            -0.42150
 5701 2022-08-21                            -0.30710
 5702 2022-08-22                            -0.31688
 5703 2022-08-23                            -0.25483
 5704 2022-08-24                            -0.36120

 [5705 rows x 2 columns],
            date  quantile_0.4_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                            -0.19742
 5701 2022-08-21                             0.00000
 5702 2022-08-22                             0.00000
 5703 2022-08-23                             0.00000
 5704 2022-08-24                             0.00000

 [5705 rows x 2 columns],
            date  quantile_0.5_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                                 0.0
 5701 2022-08-21                                 0.0
 5702 2022-08-22                                 0.0
 5703 2022-08-23                                 0.0
 5704 2022-08-24                                 0.0

 [5705 rows x 2 columns],
            date  quantile_0.6_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                             0.00000
 5701 2022-08-21                             0.27320
 5702 2022-08-22                             0.15270
 5703 2022-08-23                             0.07720
 5704 2022-08-24                             0.04644

 [5705 rows x 2 columns],
            date  quantile_0.7_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                             0.15310
 5701 2022-08-21                             0.44040
 5702 2022-08-22                             0.36120
 5703 2022-08-23                             0.30470
 5704 2022-08-24                             0.22867

 [5705 rows x 2 columns],
            date  quantile_0.8_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                             0.36552
 5701 2022-08-21                             0.58590
 5702 2022-08-22                             0.50982
 5703 2022-08-23                             0.52510
 5704 2022-08-24                             0.42906

 [5705 rows x 2 columns],
            date  quantile_0.9_sent_previous_14_days
 0    2007-01-11                                 NaN
 1    2007-01-12                                 NaN
 2    2007-01-13                                 NaN
 3    2007-01-14                                 NaN
 4    2007-01-15                                 NaN
 ...         ...                                 ...
 5700 2022-08-20                             0.73450
 5701 2022-08-21                             0.69080
 5702 2022-08-22                             0.69080
 5703 2022-08-23                             0.74999
 5704 2022-08-24                             0.64509

 [5705 rows x 2 columns],
            date  quantile_0.95_sent_previous_14_days
 0    2007-01-11                                  NaN
 1    2007-01-12                                  NaN
 2    2007-01-13                                  NaN
 3    2007-01-14                                  NaN
 4    2007-01-15                                  NaN
 ...         ...                                  ...
 5700 2022-08-20                             0.810810
 5701 2022-08-21                             0.777800
 5702 2022-08-22                             0.793450
 5703 2022-08-23                             0.826605
 5704 2022-08-24                             0.799655

 [5705 rows x 2 columns],
            date  mean_sent_previous_14_days
 0    2007-01-11                         NaN
 1    2007-01-12                         NaN
 2    2007-01-13                         NaN
 3    2007-01-14                         NaN
 4    2007-01-15                         NaN
 ...         ...                         ...
 5700 2022-08-20                   -0.073022
 5701 2022-08-21                    0.034734
 5702 2022-08-22                    0.019362
 5703 2022-08-23                    0.017201
 5704 2022-08-24                   -0.041471


In [57]:
##merge all data.frames
from functools import reduce

#merge them using reduce
df_merged = reduce(lambda left, right: pd.merge(left, right, on=['date'], how='inner'), [element for element in flat_list])
    #leave only those rows having date in the datasets of currency value and sentiment
    #https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes
df_merged
    #note that here the previous eur pricing can be different than the eur pricing of the previous row
    #because when merging we lose days without tweet sentiment, so there is no longer continuous days

,date,quantile_0.05_sent_previous_7_days,quantile_0.1_sent_previous_7_days,quantile_0.2_sent_previous_7_days,quantile_0.3_sent_previous_7_days,quantile_0.4_sent_previous_7_days,quantile_0.5_sent_previous_7_days,quantile_0.6_sent_previous_7_days,quantile_0.7_sent_previous_7_days,quantile_0.8_sent_previous_7_days,...,quantile_0.95_sent_previous_120_days,mean_sent_previous_120_days,min_sent_previous_120_days,max_sent_previous_120_days,sum_sent_previous_120_days,count_sent_previous_120_days,range_sent_previous_120_days,var_sent_previous_120_days,std_sent_previous_120_days,iqr_sent_previous_120_days
0,2007-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5700,2022-08-20,-0.831400,-0.77165,-0.51060,-0.30850,0.00000,0.0000,0.17790,0.39760,0.47670,...,0.757900,-0.024616,-0.9649,0.9693,-10.3633,421.0,1.9342,0.241993,0.491343,0.76310
5701,2022-08-21,-0.853130,-0.75498,-0.51694,-0.33218,-0.13176,0.0000,0.14690,0.40190,0.45880,...,0.808440,-0.018205,-0.9720,0.9337,-4.4603,245.0,1.9057,0.282052,0.530000,0.84640
5702,2022-08-22,-0.789630,-0.63250,-0.37356,-0.01806,0.00000,0.0000,0.24856,0.44040,0.58310,...,0.846125,-0.010266,-0.9457,0.9702,-2.9360,286.0,1.9159,0.316773,0.561841,1.02875
5703,2022-08-23,-0.858075,-0.76500,-0.44710,-0.15310,0.00000,0.0000,0.12800,0.37445,0.47670,...,0.814415,0.034963,-0.9705,0.9529,16.4325,470.0,1.9234,0.244661,0.494106,0.79630
5704,2022-08-24,-0.831710,-0.68832,-0.26182,0.00000,0.00000,0.1779,0.17790,0.17790,0.37568,...,0.803170,0.055819,-0.9538,0.9442,23.1648,415.0,1.8980,0.231567,0.480634,0.75480

In [58]:
df_merged = df_merged.dropna()
df_merged

,date,quantile_0.05_sent_previous_7_days,quantile_0.1_sent_previous_7_days,quantile_0.2_sent_previous_7_days,quantile_0.3_sent_previous_7_days,quantile_0.4_sent_previous_7_days,quantile_0.5_sent_previous_7_days,quantile_0.6_sent_previous_7_days,quantile_0.7_sent_previous_7_days,quantile_0.8_sent_previous_7_days,...,quantile_0.95_sent_previous_120_days,mean_sent_previous_120_days,min_sent_previous_120_days,max_sent_previous_120_days,sum_sent_previous_120_days,count_sent_previous_120_days,range_sent_previous_120_days,var_sent_previous_120_days,std_sent_previous_120_days,iqr_sent_previous_120_days
715,2008-12-26,-0.421500,-0.42150,-0.27320,0.00000,0.00000,0.0000,0.00000,0.00000,0.27320,...,0.212500,-0.152625,-0.5423,0.2500,-0.6105,4.0,0.7923,0.121554,0.301937,0.436725
742,2009-01-22,-0.510600,-0.51060,-0.29600,-0.29600,-0.29600,-0.1396,-0.04128,0.20230,0.30622,...,0.000000,0.000000,0.0000,0.0000,0.0000,2.0,0.0000,0.000000,0.000000,0.000000
751,2009-01-31,0.002580,0.00516,0.01032,0.01548,0.02064,0.0258,0.03096,0.03612,0.04128,...,0.241780,-0.298086,-0.6808,0.6908,-4.1732,14.0,1.3716,0.131047,0.348836,0.276950
758,2009-02-07,-0.650780,-0.61076,-0.55740,-0.55740,-0.55740,-0.5574,-0.54834,-0.47910,-0.28950,...,0.700380,-0.101120,-0.5719,0.8189,-0.5056,5.0,1.3908,0.371527,0.545181,0.783700
762,2009-02-11,-0.664905,-0.61131,-0.24236,-0.13553,-0.05120,0.0000,0.00000,0.06789,0.25740,...,0.000000,-0.221733,-0.6652,0.0000,-0.6652,3.0,0.6652,0.147497,0.313578,0.332600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5700,2022-08-20,-0.831400,-0.77165,-0.51060,-0.30850,0.00000,0.0000,0.17790,0.39760,0.47670,...,0.757900,-0.024616,-0.9649,0.9693,-10.3633,421.0,1.9342,0.241993,0.491343,0.763100
5701,2022-08-21,-0.853130,-0.75498,-0.51694,-0.33218,-0.13176,0.0000,0.14690,0.40190,0.45880,...,0.808440,-0.018205,-0.9720,0.9337,-4.4603,245.0,1.9057,0.282052,0.530000,0.846400
5702,2022-08-22,-0.789630,-0.63250,-0.37356,-0.01806,0.00000,0.0000,0.24856,0.44040,0.58310,...,0.846125,-0.010266,-0.9457,0.9702,-2.9360,286.0,1.9159,0.316773,0.561841,1.028750
5703,2022-08-23,-0.858075,-0.76500,-0.44710,-0.15310,0.00000,0.0000,0.12800,0.37445,0.47670,...,0.814415,0.034963,-0.9705,0.9529,16.4325,470.0,1.9234,0.244661,0.494106,0.796300
5704,2022-08-24,-0.831710,-0.68832,-0.26182,0.00000,0.00000,0.1779,0.17790,0.17790,0.37568,...,0.803170,0.055819,-0.9538,0.9442,23.1648,415.0,1.8980,0.231567,0.480634,0.754800

In [59]:
#check that all days with just 1 tweet have std=0
#np.unique(df_merged[df_merged["count_sent"] == 1]["std_sent"]) == 0

In [60]:
'''
##plot the metrics
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

#for each metric
for metric in metrics_sentiment:
    
    #open a plot with two panels
    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))

    #plot scatter against date and eur pricing
    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_sent"], s=0.5)
    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_sent"], s=0.5)
    
    #set ylabel
    ax1.set_ylabel(metric + " negative sentiment")
    ax1.set_xlabel("Year")
    ax2.set_ylabel(metric + " negative sentiment")
    ax2.set_xlabel("Percent change in EUR/USD exchange rate")
    
    #close
    plt.show()
'''

'\n##plot the metrics\nimport matplotlib.pyplot as plt\nfrom matplotlib.pyplot import figure\n\n#for each metric\nfor metric in metrics_sentiment:\n    \n    #open a plot with two panels\n    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))\n\n    #plot scatter against date and eur pricing\n    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_sent"], s=0.5)\n    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_sent"], s=0.5)\n    \n    #set ylabel\n    ax1.set_ylabel(metric + " negative sentiment")\n    ax1.set_xlabel("Year")\n    ax2.set_ylabel(metric + " negative sentiment")\n    ax2.set_xlabel("Percent change in EUR/USD exchange rate")\n    \n    #close\n    plt.show()\n'

Mean shows that low currency values tend to be associated with high negative sentiment. As the value increase, there is more variation. With more negative but specially much more less negative days. This is even clearer for max. The main difference is that high currency values are associated with a lot of 0 negative days.

It seems that once economic problems arise, then worries extend across economic agents and hence twitter, making less likely to have positive/neutral tweets.

In [61]:
#save the final data.frame with all metrics and eur pricing
df_merged.to_csv("results/twitter_sentiment_data.csv.gz", compression="gzip", index=False)
#df_merged = pd.read_csv("results/twitter_sentiment_data.csv.gz", compression="gzip")