# Processing Twitter sentiment

In [1]:
#set the working directory
import os
os.chdir("/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project/")

#check
os.getcwd()

'/media/dftortosa/Windows/Users/dftor/Documents/diego_docs/industry/data_incubator/capstone_project'

## Loading tweet data

We include tweets about the BCE, which is the entity in charge of protecting the value of the euro, but also tweets about debt crisis in Europe, because this can negatively impact the expectations around the euro. Also tweets about the economy of Europe, because this can influence the expectations of economic agents around the Euro. Specially relevant those countries with sovereing debt problems. I have included countries that experienced high interest rates during the 2008 economic crisis (above 6%, e.g., Spain or Greece; [link](https://en.wikipedia.org/wiki/File:Long-term_interest_rates_(eurozone).png)) and countries that currently having a percentage of debt respect GDP above 85.8%, which is the average of the Euro area ([link](https://www.statista.com/statistics/269684/national-debt-in-eu-countries-in-relation-to-gross-domestic-product-gdp/)). This is specially relevant because the BCE not only acts to preserve the value of the euro but to avoid the bankruptcy of the members states, and both goals can be incompatible in certain circumstances (e.g., buy EU debt when at the same time you have to fight against inflation raising the interest rates). It is worth to mention that the Euros can be seen as liabilities that it has respect to those having euros. Of course, today we do not have gold standard, so we cannot go to the ECB ansd ask for an exchange in gold. However, the ECB has a mandate to control the value of the Euro so those with Euros will not lose value, because of this, there is a goal of 2% inflation per year, that is the limit. For example, if for eany reason there is an increase of inflation (e.g., due to high energy prices), the ECB should use its assets to buy Euros and hence remove them from circulation, this would decrease the offer of Euros, and hence increase the value of the currency. But what happens if the ECB has not enough assets to compensate? or he has assets of low quality like for example bonds from European countries with debt problems? The ECB could have difficulties to use gain capitalization through these assets and use it to stabilize Euro's value. The economic agents know this because they can see the balance of the ECB, and they can decide to go away from Euro. This sentiment of the economic agents for the Euro is what I am trying to catch here, using twitter for that.

I am not interested in the impact of the interest rates or exports of European countries. I am interested in the expectations of the economic agents about the Euro. If mane economic agents think and act in the same way, this is going to influence the demand and value of the currenct. For example, selling their euros because they expect a devlauation of the currency in the near future due to low confidence in Europe's economy. I am trying to capture the echoes of these expectations in twitter.

This would be relevant for any componay interested in the prediction of currencies. If the consideration of the sentiment aroung the currency can help to improve predictions, they could do more advantageous trades. For example, for an american company doing business in Europe.

In [19]:
#read json files about BCE
import pandas as pd
ecb_search = pd.read_json("data/json_files/search_euro_bank_twitter_1999_1_1.json", lines=True)
ecb_hashtag = pd.read_json("data/json_files/hashtag_euro_bank_twitter_1999_1_1.json", lines=True)

In [20]:
#read json files about debt crisis and European economy
debt_crisis_search = pd.read_json("data/json_files/search_eu_debt_crisis_twitter_1999_1_1.json", lines=True)
eu_economy_search = pd.read_json("data/json_files/search_european_union_economy_twitter_1999_1_1.json", lines=True)

In [21]:
#read json files about the economy of specific European countries
    #https://en.wikipedia.org/wiki/European_debt_crisis
iceland_economy_search = pd.read_json("data/json_files/search_iceland_economy_twitter_1999_1_1.json", lines=True)
portugal_economy_search = pd.read_json("data/json_files/search_portugal_economy_twitter_1999_1_1.json", lines=True)
italy_economy_search = pd.read_json("data/json_files/search_italy_economy_twitter_1999_1_1.json", lines=True)
ireland_economy_search = pd.read_json("data/json_files/search_ireland_economy_twitter_1999_1_1.json", lines=True)
greece_economy_search = pd.read_json("data/json_files/search_greece_economy_twitter_1999_1_1.json", lines=True)
spain_economy_search = pd.read_json("data/json_files/search_spain_economy_twitter_1999_1_1.json", lines=True)
cyprus_economy_search = pd.read_json("data/json_files/search_cyprus_economy_twitter_1999_1_1.json", lines=True)
slovenia_economy_search = pd.read_json("data/json_files/search_slovenia_economy_twitter_1999_1_1.json", lines=True)
france_economy_search = pd.read_json("data/json_files/search_france_economy_twitter_1999_1_1.json", lines=True)
belgium_economy_search = pd.read_json("data/json_files/search_belgium_economy_twitter_1999_1_1.json", lines=True)
croatia_economy_search = pd.read_json("data/json_files/search_croatia_economy_twitter_1999_1_1.json", lines=True)

We are going to use also tweets about the different presidents of the ECB during their mandate. This can be another proxy of the sentiment around the institution in charge of preserving the value of the Euro. We only consider tweet for the time window they were presidents of the ECB.

In [22]:
trichet_search = pd.read_json("data/json_files/search_trichet_twitter.json", lines=True)

We are not using tweets about the USD because it is possible that the demand of US dollars increases (e.g., due to fears of recession and the corresponding search for safe heavens as it still has this reputation), but at the same time people can be unsatified with the way FED deals with inflation. The sentiment around USD in twitter would be negative in general, but it its demand can still increases.

In [23]:
#process json file
    #https://www.kaggle.com/code/prathamsharma123/clean-raw-json-tweets-data/notebook
print(ecb_search.shape)
    #as many rows as tweets
    #as many columns as features in each tweet

(474273, 28)

In [24]:
#see features
print(ecb_search.columns)

Index(['_type', 'url', 'date', 'rawContent', 'renderedContent', 'id', 'user',
       'replyCount', 'retweetCount', 'likeCount', 'quoteCount',
       'conversationId', 'lang', 'source', 'sourceUrl', 'sourceLabel', 'links',
       'media', 'retweetedTweet', 'quotedTweet', 'inReplyToTweetId',
       'inReplyToUser', 'mentionedUsers', 'coordinates', 'place', 'hashtags',
       'cashtags', 'card'],
      dtype='object')

In [25]:
#get all columns for the first tweet
print(ecb_search.iloc[0, :])

_type                                  snscrape.modules.twitter.Tweet
url                 https://twitter.com/Andy_Sayad/status/15484534...
date                                        2022-07-16 23:44:10+00:00
rawContent          🔥🔥🔥Less than a week left till July 21. All Eur...
renderedContent     🔥🔥🔥Less than a week left till July 21. All Eur...
id                                                1548453468989693952
user                {'_type': 'snscrape.modules.twitter.User', 'us...
replyCount                                                          1
retweetCount                                                        0
likeCount                                                           2
quoteCount                                                          0
conversationId                                    1548453468989693952
lang                                                               en
source              <a href="http://twitter.com/download/iphone" r...
sourceUrl                          http://twitter.com/download/iphone
sourceLabel                                        Twitter for iPhone
links                                                            None
media                                                            None
retweetedTweet                                                    NaN
quotedTweet                                                      None
inReplyToTweetId                                                  NaN
inReplyToUser                                                    None
mentionedUsers                                                   None
coordinates                                                      None
place                                                            None
hashtags                                                [Nordstream1]
cashtags                                                         None
card                                                             None
Name: 0, dtype: object

In [26]:
#check that the id is unique for each tweet
print(ecb_search["id"].is_unique)
print(ecb_hashtag["id"].is_unique)
print(debt_crisis_search["id"].is_unique)
print(eu_economy_search["id"].is_unique)
print(iceland_economy_search["id"].is_unique)
print(portugal_economy_search["id"].is_unique)
print(italy_economy_search["id"].is_unique)
print(ireland_economy_search["id"].is_unique)
print(greece_economy_search["id"].is_unique)
print(spain_economy_search ["id"].is_unique)
print(cyprus_economy_search["id"].is_unique)
print(slovenia_economy_search["id"].is_unique)
print(france_economy_search["id"].is_unique)
print(belgium_economy_search["id"].is_unique)
print(croatia_economy_search["id"].is_unique)
print(trichet_search["id"].is_unique)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [27]:
#bind data.frames of ecb search and ecb hashtag
tweets_df = ecb_hashtag.append([ecb_search, 
                                debt_crisis_search, 
                                eu_economy_search, 
                                iceland_economy_search,
                                portugal_economy_search,
                                italy_economy_search,
                                ireland_economy_search,
                                greece_economy_search,
                                spain_economy_search ,
                                cyprus_economy_search, 
                                slovenia_economy_search, 
                                france_economy_search,
                                belgium_economy_search,
                                croatia_economy_search,
                                trichet_search])
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
...,...,...,...
24622,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
24623,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et exécutif européen est...
24624,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
24625,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
24626,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [28]:
#reset the indeces to avoid problems when indexing
tweets_df = tweets_df.reset_index(drop=True)
    #use drop drop parameter to avoid the old index being added as a column
tweets_df[["id", "date", "rawContent"]]

,id,date,rawContent
0,1548451710472839171,2022-07-16 23:37:11+00:00,Ist der EURO noch zu retten? (EZB in der Zwick...
1,1548449160541548545,2022-07-16 23:27:03+00:00,#ECB Bond Tool Seen Having No Limits as Steepe...
2,1548443968030928899,2022-07-16 23:06:25+00:00,#Digitaleuro to be more efficient as a means o...
3,1548442831143849984,2022-07-16 23:01:54+00:00,#Digitaleuro to be more efficient as a means o...
4,1548442355837022208,2022-07-16 23:00:00+00:00,.@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
...,...,...,...
2427801,206053432,2007-08-14 20:03:44+00:00,ECB calls for calm as markets falter: Jean-Cla...
2427802,184113892,2007-08-03 08:30:37+00:00,Le dialogue entre BCE et exécutif européen est...
2427803,106039372,2007-06-15 17:19:26+00:00,TALK OF PARIS : Talk de Paris - Jean Claude Tr...
2427804,106039342,2007-06-15 17:19:24+00:00,TALK OF PARIS : Talk of Paris - Jean Claude Tr...
2427805,68467682,2007-05-18 11:02:43+00:00,Jean-Claude Trichet convida o Reino Unido a in...

In [29]:
#check we have the expected number of rows
tweets_df.shape[0] == ecb_search.shape[0] + ecb_hashtag.shape[0] + debt_crisis_search.shape[0] + eu_economy_search.shape[0] + spain_economy_search.shape[0] + slovenia_economy_search.shape[0]

False

In [30]:
#release space
del([ecb_search, 
     debt_crisis_search, 
     eu_economy_search, 
     iceland_economy_search,
     portugal_economy_search,
     italy_economy_search,
     ireland_economy_search,
     greece_economy_search,
     spain_economy_search ,
     cyprus_economy_search, 
     slovenia_economy_search, 
     france_economy_search,
     belgium_economy_search,
     croatia_economy_search,
     trichet_search])
import gc
gc.collect()

0

In [31]:
#check for duplicated IDs
tweets_df["id"].duplicated().any()

True

In [32]:
#take a look to one of the duplicated IDs
example_duplicated_id = tweets_df[tweets_df["id"].duplicated()].iloc[2,:].loc["id"] #get the ID

#get the URL for all tweets having the example ID and check if there are identical URLs
tweets_df.loc[tweets_df["id"] == example_duplicated_id, "url"].duplicated().any()
    #tweets with the same ID have the same URL, so they are the same tweet

True

In [33]:
#remove tweets with a duplicated id
tweets_df = tweets_df.drop_duplicates(subset=['id'])
tweets_df.shape

(2336081, 28)

In [34]:
#check languages
import numpy as np
np.unique(tweets_df["lang"])

array(['am', 'ar', 'bg', 'bn', 'ca', 'ckb', 'cs', 'cy', 'da', 'de', 'el',
       'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'gu', 'hi', 'ht', 'hu',
       'hy', 'in', 'is', 'it', 'iw', 'ja', 'ka', 'kn', 'ko', 'lt', 'lv',
       'ml', 'mr', 'my', 'ne', 'nl', 'no', 'or', 'pa', 'pl', 'ps', 'pt',
       'qam', 'qht', 'qme', 'qst', 'ro', 'ru', 'sd', 'si', 'sl', 'sr',
       'sv', 'ta', 'te', 'th', 'tl', 'tr', 'uk', 'und', 'ur', 'vi', 'zh',
       'zxx'], dtype=object)

In [35]:
#see tweets not in english
sum(tweets_df["lang"] != "en")

226488

In [36]:
#select only tweets in english
tweets_df_en = tweets_df[tweets_df["lang"] == "en"]
tweets_df_en.shape
    #CHECK IF THE SENTIMENT MODEL USED CAN DEAL WITH OTHER LANGUAGES

(2109593, 28)

In [37]:
#get the text for all tweets
tweets_df_en.loc[:, "rawContent"].iloc[0:10,]
    #CHECK IF THERE IS ANY DIFFERENCE RESPECT TO renderedContent

1     #ECB Bond Tool Seen Having No Limits as Steepe...
2     #Digitaleuro to be more efficient as a means o...
3     #Digitaleuro to be more efficient as a means o...
4     .@ECB_cricket🏴󠁧󠁢󠁥󠁮󠁧󠁿: England Men name squads ...
5     Another Big Week for Central B(W)ankers Ahead:...
6     Qualified today as an #ECB foundation cricket ...
7     #Jaws is nothing against this:\n\nby @topdownc...
8     #DXY monthly chart: my ultimate view. There is...
9     wow what a moment \n#vitalityblast #ECB @engla...
10    #ECB should take loan from #BCCI to upgrade th...
Name: rawContent, dtype: object

## Sentiment analysis of tweets

We will use VADER to perform the sentiment analysis. There are alternatives like TextBlob, but VADER meets well our requeriments
- It is sensitive to both polarity (positive/negative) and intensity (strength) of emotion.
- you get a positive, negative neutral scores and a compound score 
- labelled data not required because it is pre-trained ([link](https://towardsdatascience.com/sentimental-analysis-using-vader-a3415fef7664), [link](https://towardsdatascience.com/sentiment-analysis-of-tweets-167d040f0583))

In [38]:
#take example tweet
example_tweet = tweets_df_en.loc[10, "rawContent"]

In [39]:
#VADER can be used from vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

#open instance
analyzer = SentimentIntensityAnalyzer()

#example
print(analyzer.polarity_scores(example_tweet))
print(example_tweet)

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
#ECB should take loan from #BCCI to upgrade their 10 years old Review system software &amp; devices #T20Blast

In [40]:
#or from nlTK
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#instance
sid = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/dftortosa/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [41]:
#we get the exact same result
print(sid.polarity_scores(example_tweet))
print(analyzer.polarity_scores(example_tweet))

{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}
{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

In [43]:
#define function to clean the text
import re
def clean_tweet(tweet):
    '''
    Utility function to clean tweet text by removing links, special characters
    using simple regex statements.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)", " ", tweet).split())

##CHECK REGULAR EXPRESSIONS

We are going to use the negative sentiment, not the compound (negative-positive-neutral) sentiment. I think that when things are going well (i.e., no inflation) people tend to think that ECB is just doing its job, or that things are going well **despite** the ECB printing money. However, when things go wrong, they all look at the central bank considering it the main cause of the lose of value of the currency, given it is its main mandate, protect the value of its currency. This is specially relevant in the European Union, where different countries with different economies and interests are included, so for example, ensuring the value of the currency by increase interest rate could make things more difficult for European countries with high debts.

In [56]:
#define function to be applied per row
def sentiment_per_row(row):
    
    #get the text of the tweet
    tweet_content = row["rawContent"]
    
    #clean
    tweet_cleaned = clean_tweet(tweet_content)
        #import preprocessor as p; p.clean()
    
    #get the negative sentiment
    sentiment = analyzer.polarity_scores(tweet_cleaned)["neg"]

    #return
    return sentiment

In [59]:
#apply the function per row and save as a new column
tweets_df_en["neg_sentiment"] = tweets_df_en.apply(sentiment_per_row, axis=1)
    #https://www.geeksforgeeks.org/apply-function-to-every-row-in-a-pandas-dataframe/
    
#CHECK WARNING

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [60]:
#get the date and sentiment
sentiment_results_df = tweets_df_en[["date", "neg_sentiment"]]
sentiment_results_df

                             date  neg_sentiment
1       2022-07-16 23:27:03+00:00          0.313
2       2022-07-16 23:06:25+00:00          0.000
3       2022-07-16 23:01:54+00:00          0.000
4       2022-07-16 23:00:00+00:00          0.000
5       2022-07-16 22:12:31+00:00          0.053
...                           ...            ...
2427768 2008-03-07 04:12:04+00:00          0.000
2427769 2008-03-03 19:52:21+00:00          0.000
2427790 2007-09-27 23:21:05+00:00          0.000
2427801 2007-08-14 20:03:44+00:00          0.000
2427804 2007-06-15 17:19:24+00:00          0.000

[2109593 rows x 2 columns]

In [61]:
#leave only year, month and day
sentiment_results_df["date"] = pd.to_datetime(sentiment_results_df["date"].dt.strftime('%Y-%m-%d'))
    #https://stackoverflow.com/questions/38067704/how-to-change-the-datetime-format-in-pandas
    #https://stackoverflow.com/questions/20689288/converting-pandas-columns-to-datetime64-including-missing-values
sentiment_results_df

#CHECK WARNING

/home/dftortosa/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              date  neg_sentiment
1       2022-07-16          0.313
2       2022-07-16          0.000
3       2022-07-16          0.000
4       2022-07-16          0.000
5       2022-07-16          0.053
...            ...            ...
2427768 2008-03-07          0.000
2427769 2008-03-03          0.000
2427790 2007-09-27          0.000
2427801 2007-08-14          0.000
2427804 2007-06-15          0.000

[2109593 rows x 2 columns]

In [62]:
#check we have rows ordered in chronologicla order
sentiment_results_df.equals(sentiment_results_df.sort_index())

True

In [63]:
operation="max"
string_evaluate = 'sentiment_results_df.groupby("date")["neg_sentiment"].' + operation + '().to_frame()'
string_evaluate

'sentiment_results_df.groupby("date")["neg_sentiment"].max().to_frame()'

Now let's calculate several metrics for the sentiment of each day and save them in list of data.frames. Before calculating all metrics, let's take a quick look to .std in pandas

In [64]:
#get the most frequent value
from statistics import mode
mode([1,2,3,1,1])

1

In [65]:
#std gives NA for cases with n=1
print(pd.DataFrame([1,1]).std()) #std = 0
print(pd.DataFrame([1,2]).std()) #std = 0.7
print(pd.DataFrame([1]).std()) #std = NaN

0    0.0
dtype: float64
0    0.707107
dtype: float64
0   NaN
dtype: float64

This is solved using ddof=0. ddof is Delta Degrees of Freedom. The divisor used in calculations is N - ddof, where N represents the number of elements

In [66]:
print(pd.DataFrame([1,1]).std(ddof=0)) #std = 0
print(pd.DataFrame([1,2]).std(ddof=0)) #std = 0.7
print(pd.DataFrame([1]).std(ddof=0)) #std = NaN

0    0.0
dtype: float64
0    0.5
dtype: float64
0    0.0
dtype: float64

We get the same results with np.std and .std(ddof=0)

In [67]:
print(np.std([1,1])) #std = 0
print(np.std([1,2])) #std = 0.7
print(np.std([1])) #std = NaN

0.0
0.5
0.0

In [68]:
np.max(np.unique(sentiment_results_df["date"]))

numpy.datetime64('2022-07-16T00:00:00.000000000')

In [69]:
idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), np.max(np.unique(sentiment_results_df["date"])))
sentiment_results_df.groupby("date")["neg_sentiment"].mean().reindex(idx, fill_value=np.NaN)

2007-01-11    0.000000
2007-01-12         NaN
2007-01-13         NaN
2007-01-14         NaN
2007-01-15    0.000000
                ...
2022-07-12    0.075875
2022-07-13    0.081270
2022-07-14    0.092209
2022-07-15    0.084726
2022-07-16    0.085627
Freq: D, Name: neg_sentiment, Length: 5666, dtype: float64

We can also shift the rows after making an operation per day, i.e., move the value of day 1 to day 2, value of day 2 to day 3, and so on...

In [70]:
sentiment_results_df.groupby("date")["neg_sentiment"].mean().shift(2)

date
2007-01-11         NaN
2007-01-15         NaN
2007-02-08    0.000000
2007-03-07    0.000000
2007-03-08    0.000000
                ...
2022-07-12    0.080886
2022-07-13    0.091134
2022-07-14    0.075875
2022-07-15    0.081270
2022-07-16    0.092209
Name: neg_sentiment, Length: 5281, dtype: float64

We can also calculate operations between quartiles, like the interquartile range: Q3-Q1

In [71]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: (np.percentile(a, 75) - np.percentile(a, 25)))

date
2007-01-11    0.0000
2007-01-15    0.0000
2007-02-08    0.0000
2007-03-07    0.0000
2007-03-08    0.0000
               ...
2022-07-12    0.1280
2022-07-13    0.1320
2022-07-14    0.1525
2022-07-15    0.1520
2022-07-16    0.1450
Name: neg_sentiment, Length: 5281, dtype: float64

In [72]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: np.percentile(a, 75))

date
2007-01-11    0.0000
2007-01-15    0.0000
2007-02-08    0.0000
2007-03-07    0.0000
2007-03-08    0.0000
               ...
2022-07-12    0.1280
2022-07-13    0.1320
2022-07-14    0.1525
2022-07-15    0.1520
2022-07-16    0.1450
Name: neg_sentiment, Length: 5281, dtype: float64

We can see how the IQR is similar to Q3, this is caused because Q1 tends to be around zero.

In [73]:
sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: np.percentile(a, 25)).describe()

count    5281.000000
mean        0.004432
std         0.026529
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         0.393000
Name: neg_sentiment, dtype: float64

Now, let's calculate the moving averages of the previous sentiment ([link](https://stackoverflow.com/questions/65929683/calculate-a-rolling-median-on-a-dataframe-that-has-a-non-unique-date-index)).

In [74]:
df_per_date = sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: a.values)
df_per_date[0:10]

date
2007-01-11            [0.0]
2007-01-15            [0.0]
2007-02-08       [0.0, 0.0]
2007-03-07            [0.0]
2007-03-08            [0.0]
2007-03-31            [0.0]
2007-04-22          [0.089]
2007-05-10       [0.0, 0.0]
2007-05-16            [0.0]
2007-05-30    [0.231, 0.22]
Name: neg_sentiment, dtype: object

In [75]:
check_moving_average = [window for window in df_per_date.rolling(5)]
check_moving_average[0:7]

[date
 2007-01-11    [0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-01-11    [0.0]
 2007-01-15    [0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-01-11         [0.0]
 2007-01-15         [0.0]
 2007-02-08    [0.0, 0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-01-11         [0.0]
 2007-01-15         [0.0]
 2007-02-08    [0.0, 0.0]
 2007-03-07         [0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-01-11         [0.0]
 2007-01-15         [0.0]
 2007-02-08    [0.0, 0.0]
 2007-03-07         [0.0]
 2007-03-08         [0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-01-15         [0.0]
 2007-02-08    [0.0, 0.0]
 2007-03-07         [0.0]
 2007-03-08         [0.0]
 2007-03-31         [0.0]
 Name: neg_sentiment, dtype: object,
 date
 2007-02-08    [0.0, 0.0]
 2007-03-07         [0.0]
 2007-03-08         [0.0]
 2007-03-31         [0.0]
 2007-04-22       [0.089]
 Name: neg_sentiment, dtype: object]

In [76]:
check_moving_average[5].explode()

date
2007-01-15    0
2007-02-08    0
2007-02-08    0
2007-03-07    0
2007-03-08    0
2007-03-31    0
Name: neg_sentiment, dtype: object

In [77]:
np.mean(check_moving_average[5].explode())

0.0

In [78]:
df_per_date.index

DatetimeIndex(['2007-01-11', '2007-01-15', '2007-02-08', '2007-03-07',
               '2007-03-08', '2007-03-31', '2007-04-22', '2007-05-10',
               '2007-05-16', '2007-05-30',
               ...
               '2022-07-07', '2022-07-08', '2022-07-09', '2022-07-10',
               '2022-07-11', '2022-07-12', '2022-07-13', '2022-07-14',
               '2022-07-15', '2022-07-16'],
              dtype='datetime64[ns]', name='date', length=5281, freq=None)

Given we have many tweets per day (see count below), we can calculate different summary statistics per day. In this way, we can reduce the impact of "trash" in our data. We will deal later with the increased risk of overfitting due to many predictors.

In [79]:
nan_series = pd.Series(np.repeat(np.nan, 10))
nan_series.append(pd.Series([1,2,3]))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
0    1.0
1    2.0
2    3.0
dtype: float64

In [80]:
nan_series = pd.Series(np.repeat(np.nan, 1))
nan_series.append(sentiment_results_df["neg_sentiment"].iloc[0:-1])

0            NaN
1          0.313
2          0.000
3          0.000
4          0.000
           ...
2427767    0.000
2427768    0.000
2427769    0.000
2427790    0.000
2427801    0.000
Length: 2109593, dtype: float64

In [81]:
np.append(np.repeat(np.nan, 1), sentiment_results_df["neg_sentiment"].iloc[0:-1].values)

array([  nan, 0.313, 0.   , ..., 0.   , 0.   , 0.   ])

In [91]:
#open a list of df adding first the EUR pricing
list_data_frames = [eur_pricing_pd]

#define a function to do a given operation grouping by date
def groupby_calcs(operation, metric_name, args=""):
        
    #get the string with the operation name
    string_evaluate = 'sentiment_results_df.groupby("date")["neg_sentiment"].' + operation + '(' + args + ').to_frame()'
        #do operations for the sentiment of each day and then convert to df

    data_frame = eval(string_evaluate)
    idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), np.max(np.unique(sentiment_results_df["date"])))
    data_frame = data_frame.reindex(idx, fill_value=np.NaN)
        #https://stackoverflow.com/questions/15610805/accessing-row-from-previous-day-in-pandas-dataframe-with-apply
    data_frame['neg_sentiment'] = data_frame['neg_sentiment'].shift(2)
        #https://stackoverflow.com/questions/19324453/add-missing-dates-to-pandas-dataframe
    #data_frame["date"] = data_frame.index
    #data_frame = data_frame.rename(columns={'date': 'index', 'neg_sentiment': 'neg_sentiment_raw'})
    #data_frame["neg_sentiment"] = np.append(np.repeat(np.nan, 2), data_frame["neg_sentiment_raw"].iloc[0:-2].values)
    #data_frame = data_frame.drop(["neg_sentiment_raw"], inplace=False, axis=1)
        
    #reset the index
    data_frame = data_frame.reset_index(level=0)
        #set the index (date) as column 
  
    #change the column name for sentiment
    data_frame = data_frame.rename(columns={'index': 'date', 'neg_sentiment': metric_name + '_neg_sent'})

    #append the df to the list
    list_data_frames.append(data_frame)

#define a list of operations to do
metrics_sentiment = ["quantile_0.1",
                     "quantile_0.25",
                     "quantile_0.35",
                     "quantile_0.50",
                     "quantile_0.65",
                     "quantile_0.75",
                     "quantile_0.9",
                     "mean",
                     "sum",
                     "count", 
                         #this can be useful to control for averages with low number of tweets
                         #but also to consider how much people is talking about europes economy
                     "std"]

#apply each operation
for metric in metrics_sentiment:
    
    #for std
    if metric == "std":
        #use ddof=0 to get zero for cases with 1 tweet per day (see above)
        groupby_calcs(operation=metric, metric_name=metric, args='ddof=0')
    elif "quantile" in metric: #if quantile
        #get the operation name and the quantile number
        operation_name = metric.split("_")[0]
        quantile_number = metric.split("_")[1]
        groupby_calcs(operation=operation_name, metric_name=metric, args=quantile_number) 
    elif "previous_sentiment" in metric:
        operation_name = "apply"
        args = "lambda a: a.values"
        groupby_calcs(operation=operation_name, metric_name=metric, args=args)   
    else: 
        groupby_calcs(operation=metric, metric_name=metric) 

        
#check we have the correct number of dfs in the list
len(list_data_frames) == len(metrics_sentiment)+1

True

In [92]:
list_data_frames[1]

           date  quantile_0.1_neg_sent
0    2007-01-11                    NaN
1    2007-01-12                    NaN
2    2007-01-13                    0.0
3    2007-01-14                    NaN
4    2007-01-15                    NaN
...         ...                    ...
5661 2022-07-12                    0.0
5662 2022-07-13                    0.0
5663 2022-07-14                    0.0
5664 2022-07-15                    0.0
5665 2022-07-16                    0.0

[5666 rows x 2 columns]

In [93]:
#CHECKK THE FIRST 5 DAYS HAVE VALUE!!!! INCLUDES THE CURRENT DAY!! THIS HAS TO CHANGE!!
#this has into account rows? or actual dates?

# drop NAs and group by date into lists of values
df_per_date = sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: a.values)

idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), np.max(np.unique(sentiment_results_df["date"])))
df_per_date = df_per_date.reindex(idx, fill_value=np.NaN)


# compute medians across windows ('sum' concatenates multiple lists into one list)
medians = [np.median(window.explode()) for window in df_per_date.rolling(5)]
    #https://stackoverflow.com/questions/30885005/pandas-series-of-lists-to-one-series

# result
medians = pd.DataFrame({"date":df_per_date.index, "moving":medians})
medians
    #https://stackoverflow.com/questions/65929683/calculate-a-rolling-median-on-a-dataframe-that-has-a-non-unique-date-index

           date  moving
0    2007-01-11  0.0000
1    2007-01-12     NaN
2    2007-01-13     NaN
3    2007-01-14     NaN
4    2007-01-15     NaN
...         ...     ...
5661 2022-07-12  0.0570
5662 2022-07-13  0.0565
5663 2022-07-14  0.0570
5664 2022-07-15  0.0570
5665 2022-07-16  0.0550

[5666 rows x 2 columns]

In [94]:
np.quantile([1,2], q=0.5)
np.median([1,2])
np.std([1])

0.0

In [95]:
#define a function to do a given operation grouping by date
def groupby_calcs_moving(operation, metric_name, args="", days=5):
        
    #get the string with the operation name
    df_per_date = sentiment_results_df.groupby("date")["neg_sentiment"].apply(lambda a: a.values)
    
    idx = pd.date_range(np.min(np.unique(sentiment_results_df["date"])), np.max(np.unique(sentiment_results_df["date"])))
    df_per_date = df_per_date.reindex(idx, fill_value=np.NaN)
        #CHECK THIS
    
    if "quantile" in operation:
        string_evaluate_1 = '[np.'+operation+'(window.explode(), q='+args+') for window in df_per_date.rolling('+str(days)+')]'
    elif operation == "len":
        string_evaluate_1 = '['+operation+'(window.explode()) for window in df_per_date.rolling('+str(days)+')]'
    else:
        string_evaluate_1 = '[np.'+operation+'(window.explode()) for window in df_per_date.rolling('+str(days)+')]'

    medians = eval(string_evaluate_1)
    
    data_frame = pd.DataFrame({"date":df_per_date.index, "neg_sentiment":medians})
        
    #change the column name for sentiment
    data_frame = data_frame.rename(columns={'neg_sentiment': metric_name + '_days_moving_neg_sent'})

    #append the df to the list
    list_data_frames.append(data_frame)

#define a list of operations to do
metrics_sentiment_moving = []
for day in [10, 30, 60, 120, 240, 360]:
    metrics_sentiment_moving = metrics_sentiment_moving + [metric + "_" + str(day) for metric in metrics_sentiment]

#apply each operation
for metric in metrics_sentiment_moving:
    
    days = metric.split("_")[-1]
    operation_name = metric.split("_")[0]

    #for std
    if "quantile" in metric: #if quantile
        #get the operation name and the quantile number
        quantile_number = metric.split("_")[1]
        groupby_calcs_moving(operation=operation_name, metric_name=metric, args=quantile_number, days=days) 
    elif "count" in metric:
        groupby_calcs_moving(operation='len', metric_name=metric, days=days) 
    else:
        groupby_calcs_moving(operation=operation_name, metric_name=metric, days=days) 

        
#check we have the correct number of dfs in the list
len(list_data_frames) == (len(metrics_sentiment) + len(metrics_sentiment_moving))+1

True

In [96]:
list_data_frames

[           date  eur_usd_rate  previous_eur_pricing  percent_change_pricing  \
 119  1999-06-18        1.0388                1.0340                0.464217
 120  1999-06-21        1.0339                1.0388               -0.471698
 121  1999-06-22        1.0313                1.0339               -0.251475
 122  1999-06-23        1.0280                1.0313               -0.319984
 123  1999-06-24        1.0321                1.0280                0.398833
 ...         ...           ...                   ...                     ...
 6025 2022-07-13        1.0067                1.0042                0.248954
 6026 2022-07-14        1.0005                1.0067               -0.615874
 6027 2022-07-15        1.0059                1.0005                0.539730
 6028 2022-07-18        1.0131                1.0059                0.715777
 6029 2022-07-19        1.0245                1.0131                1.125259

       5_days_rolling_mean_pricing  10_days_rolling_mean_pricing  \
 119                       1.03804                       1.04017
 120                       1.03608                       1.04040
 121                       1.03450                       1.03968
 122                       1.03320                       1.03782
 123                       1.03282                       1.03629
 ...                           ...                           ...
 6025                      1.01100                       1.02284
 6026                      1.00750                       1.01902
 6027                      1.00542                       1.01536
 6028                      1.00608                       1.01212
 6029                      1.01014                       1.01167

       60_days_rolling_mean_pricing  120_days_rolling_mean_pricing  \
 119                       1.060603                       1.092362
 120                       1.060015                       1.091153
 121                       1.059352                       1.089922
 122                       1.058582                       1.088703
 123                       1.057830                       1.087611
 ...                            ...                            ...
 6025                      1.053007                       1.082417
 6026                      1.051537                       1.081365
 6027                      1.050273                       1.080350
 6028                      1.049248                       1.079492
 6029                      1.048533                       1.078748

       5_days_exp_rolling_mean_pricing  10_days_exp_rolling_mean_pricing  \
 119                          1.038175                          1.040002
 120                          1.036750                          1.038892
 121                          1.034933                          1.037512
 122                          1.032622                          1.035782
 123                          1.032448                          1.035113
 ...                               ...                               ...
 6025                         1.011741                          1.020807
 6026                         1.007994                          1.017115
 6027                         1.007296                          1.015076
 6028                         1.009231                          1.014717
 6029                         1.014320                          1.016495

       60_days_exp_rolling_mean_pricing  120_days_exp_rolling_mean_pricing
 119                           1.062343                           1.087234
 120                           1.061410                           1.086353
 121                           1.060423                           1.085443
 122                           1.059360                           1.084493
 123                           1.058466                           1.083627
 ...                                ...                                ...
 6025                          1.054326                           1.076699
 6026                          1.052562                           1.075439
 6027                          1.051032                           1.074290
 6028                          1.049788                           1.073278
 6029                          1.048959                           1.072472

 [5911 rows x 12 columns],
            date  quantile_0.1_neg_sent
 0    2007-01-11                    NaN
 1    2007-01-12                    NaN
 2    2007-01-13                    0.0
 3    2007-01-14                    NaN
 4    2007-01-15                    NaN
 ...         ...                    ...
 5661 2022-07-12                    0.0
 5662 2022-07-13                    0.0
 5663 2022-07-14                    0.0
 5664 2022-07-15                    0.0
 5665 2022-07-16                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_neg_sent
 0    2007-01-11                     NaN
 1    2007-01-12                     NaN
 2    2007-01-13                     0.0
 3    2007-01-14                     NaN
 4    2007-01-15                     NaN
 ...         ...                     ...
 5661 2022-07-12                     0.0
 5662 2022-07-13                     0.0
 5663 2022-07-14                     0.0
 5664 2022-07-15                     0.0
 5665 2022-07-16                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_neg_sent
 0    2007-01-11                     NaN
 1    2007-01-12                     NaN
 2    2007-01-13                     0.0
 3    2007-01-14                     NaN
 4    2007-01-15                     NaN
 ...         ...                     ...
 5661 2022-07-12                     0.0
 5662 2022-07-13                     0.0
 5663 2022-07-14                     0.0
 5664 2022-07-15                     0.0
 5665 2022-07-16                     0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_neg_sent
 0    2007-01-11                     NaN
 1    2007-01-12                     NaN
 2    2007-01-13                  0.0000
 3    2007-01-14                     NaN
 4    2007-01-15                     NaN
 ...         ...                     ...
 5661 2022-07-12                  0.0550
 5662 2022-07-13                  0.0700
 5663 2022-07-14                  0.0295
 5664 2022-07-15                  0.0580
 5665 2022-07-16                  0.0590

 [5666 rows x 2 columns],
            date  quantile_0.65_neg_sent
 0    2007-01-11                     NaN
 1    2007-01-12                     NaN
 2    2007-01-13                 0.00000
 3    2007-01-14                     NaN
 4    2007-01-15                     NaN
 ...         ...                     ...
 5661 2022-07-12                 0.08800
 5662 2022-07-13                 0.11700
 5663 2022-07-14                 0.09335
 5664 2022-07-15                 0.10020
 5665 2022-07-16                 0.12400

 [5666 rows x 2 columns],
            date  quantile_0.75_neg_sent
 0    2007-01-11                     NaN
 1    2007-01-12                     NaN
 2    2007-01-13                  0.0000
 3    2007-01-14                     NaN
 4    2007-01-15                     NaN
 ...         ...                     ...
 5661 2022-07-12                  0.1190
 5662 2022-07-13                  0.1480
 5663 2022-07-14                  0.1280
 5664 2022-07-15                  0.1320
 5665 2022-07-16                  0.1525

 [5666 rows x 2 columns],
            date  quantile_0.9_neg_sent
 0    2007-01-11                    NaN
 1    2007-01-12                    NaN
 2    2007-01-13                 0.0000
 3    2007-01-14                    NaN
 4    2007-01-15                    NaN
 ...         ...                    ...
 5661 2022-07-12                 0.2230
 5662 2022-07-13                 0.2300
 5663 2022-07-14                 0.2077
 5664 2022-07-15                 0.2168
 5665 2022-07-16                 0.2470

 [5666 rows x 2 columns],
            date  mean_neg_sent
 0    2007-01-11            NaN
 1    2007-01-12            NaN
 2    2007-01-13       0.000000
 3    2007-01-14            NaN
 4    2007-01-15            NaN
 ...         ...            ...
 5661 2022-07-12       0.080886
 5662 2022-07-13       0.091134
 5663 2022-07-14       0.075875
 5664 2022-07-15       0.081270
 5665 2022-07-16       0.092209

 [5666 rows x 2 columns],
            date  sum_neg_sent
 0    2007-01-11           NaN
 1    2007-01-12           NaN
 2    2007-01-13         0.000
 3    2007-01-14           NaN
 4    2007-01-15           NaN
 ...         ...           ...
 5661 2022-07-12        22.729
 5662 2022-07-13        48.848
 5663 2022-07-14        51.140
 5664 2022-07-15        47.868
 5665 2022-07-16        72.200

 [5666 rows x 2 columns],
            date  count_neg_sent
 0    2007-01-11             NaN
 1    2007-01-12             NaN
 2    2007-01-13             1.0
 3    2007-01-14             NaN
 4    2007-01-15             NaN
 ...         ...             ...
 5661 2022-07-12           281.0
 5662 2022-07-13           536.0
 5663 2022-07-14           674.0
 5664 2022-07-15           589.0
 5665 2022-07-16           783.0

 [5666 rows x 2 columns],
            date  std_neg_sent
 0    2007-01-11           NaN
 1    2007-01-12           NaN
 2    2007-01-13      0.000000
 3    2007-01-14           NaN
 4    2007-01-15           NaN
 ...         ...           ...
 5661 2022-07-12      0.097605
 5662 2022-07-13      0.103062
 5663 2022-07-14      0.100991
 5664 2022-07-15      0.097136
 5665 2022-07-16      0.107377

 [5666 rows x 2 columns],
            date  quantile_0.1_10_days_moving_neg_sent
 0    2007-01-11                                   0.0
 1    2007-01-12                                   NaN
 2    2007-01-13                                   NaN
 3    2007-01-14                                   NaN
 4    2007-01-15                                   NaN
 ...         ...                                   ...
 5661 2022-07-12                                   0.0
 5662 2022-07-13                                   0.0
 5663 2022-07-14                                   0.0
 5664 2022-07-15                                   0.0
 5665 2022-07-16                                   0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_10_days_moving_neg_sent
 0    2007-01-11                                    0.0
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_10_days_moving_neg_sent
 0    2007-01-11                                    0.0
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_10_days_moving_neg_sent
 0    2007-01-11                                  0.000
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                  0.055
 5662 2022-07-13                                  0.056
 5663 2022-07-14                                  0.059
 5664 2022-07-15                                  0.058
 5665 2022-07-16                                  0.058

 [5666 rows x 2 columns],
            date  quantile_0.65_10_days_moving_neg_sent
 0    2007-01-11                                  0.000
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                  0.107
 5662 2022-07-13                                  0.108
 5663 2022-07-14                                  0.111
 5664 2022-07-15                                  0.110
 5665 2022-07-16                                  0.109

 [5666 rows x 2 columns],
            date  quantile_0.75_10_days_moving_neg_sent
 0    2007-01-11                                  0.000
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                  0.145
 5662 2022-07-13                                  0.145
 5663 2022-07-14                                  0.150
 5664 2022-07-15                                  0.148
 5665 2022-07-16                                  0.148

 [5666 rows x 2 columns],
            date  quantile_0.9_10_days_moving_neg_sent
 0    2007-01-11                                0.0000
 1    2007-01-12                                   NaN
 2    2007-01-13                                   NaN
 3    2007-01-14                                   NaN
 4    2007-01-15                                   NaN
 ...         ...                                   ...
 5661 2022-07-12                                0.2260
 5662 2022-07-13                                0.2270
 5663 2022-07-14                                0.2310
 5664 2022-07-15                                0.2273
 5665 2022-07-16                                0.2300

 [5666 rows x 2 columns],
            date  mean_10_days_moving_neg_sent
 0    2007-01-11                      0.000000
 1    2007-01-12                      0.000000
 2    2007-01-13                      0.000000
 3    2007-01-14                      0.000000
 4    2007-01-15                      0.000000
 ...         ...                           ...
 5661 2022-07-12                      0.085205
 5662 2022-07-13                      0.085534
 5663 2022-07-14                      0.087885
 5664 2022-07-15                      0.086493
 5665 2022-07-16                      0.086478

 [5666 rows x 2 columns],
            date  sum_10_days_moving_neg_sent
 0    2007-01-11                        0.000
 1    2007-01-12                        0.000
 2    2007-01-13                        0.000
 3    2007-01-14                        0.000
 4    2007-01-15                        0.000
 ...         ...                          ...
 5661 2022-07-12                      421.595
 5662 2022-07-13                      444.606
 5663 2022-07-14                      472.644
 5664 2022-07-15                      464.294
 5665 2022-07-16                      456.257

 [5666 rows x 2 columns],
            date  count_10_days_moving_neg_sent
 0    2007-01-11                              1
 1    2007-01-12                              2
 2    2007-01-13                              3
 3    2007-01-14                              4
 4    2007-01-15                              5
 ...         ...                            ...
 5661 2022-07-12                           4948
 5662 2022-07-13                           5198
 5663 2022-07-14                           5378
 5664 2022-07-15                           5368
 5665 2022-07-16                           5276

 [5666 rows x 2 columns],
            date  std_10_days_moving_neg_sent
 0    2007-01-11                     0.000000
 1    2007-01-12                     0.000000
 2    2007-01-13                     0.000000
 3    2007-01-14                     0.000000
 4    2007-01-15                     0.000000
 ...         ...                          ...
 5661 2022-07-12                     0.103849
 5662 2022-07-13                     0.103946
 5663 2022-07-14                     0.104951
 5664 2022-07-15                     0.103423
 5665 2022-07-16                     0.102498

 [5666 rows x 2 columns],
            date  quantile_0.1_30_days_moving_neg_sent
 0    2007-01-11                                   0.0
 1    2007-01-12                                   NaN
 2    2007-01-13                                   NaN
 3    2007-01-14                                   NaN
 4    2007-01-15                                   NaN
 ...         ...                                   ...
 5661 2022-07-12                                   0.0
 5662 2022-07-13                                   0.0
 5663 2022-07-14                                   0.0
 5664 2022-07-15                                   0.0
 5665 2022-07-16                                   0.0

 [5666 rows x 2 columns],
            date  quantile_0.25_30_days_moving_neg_sent
 0    2007-01-11                                    0.0
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.35_30_days_moving_neg_sent
 0    2007-01-11                                    0.0
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                    0.0
 5662 2022-07-13                                    0.0
 5663 2022-07-14                                    0.0
 5664 2022-07-15                                    0.0
 5665 2022-07-16                                    0.0

 [5666 rows x 2 columns],
            date  quantile_0.50_30_days_moving_neg_sent
 0    2007-01-11                                  0.000
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...
 5661 2022-07-12                                  0.055
 5662 2022-07-13                                  0.054
 5663 2022-07-14                                  0.055
 5664 2022-07-15                                  0.051
 5665 2022-07-16                                  0.051

 [5666 rows x 2 columns],
            date  quantile_0.65_30_days_moving_neg_sent
 0    2007-01-11                                  0.000
 1    2007-01-12                                    NaN
 2    2007-01-13                                    NaN
 3    2007-01-14                                    NaN
 4    2007-01-15                                    NaN
 ...         ...                                    ...

In [97]:
##merge all data.frames
from functools import reduce

#merge them using reduce
df_merged = reduce(lambda left, right: pd.merge(left, right, on=['date'], how='inner'), list_data_frames)
    #leave only those rows having date in the datasets of currency value and sentiment
    #https://stackoverflow.com/questions/44327999/python-pandas-merge-multiple-dataframes
df_merged
    #note that here the previous eur pricing can be different than the eur pricing of the previous row
    #because when merging we lose days without tweet sentiment, so there is no longer continuous days

,date,eur_usd_rate,previous_eur_pricing,percent_change_pricing,5_days_rolling_mean_pricing,10_days_rolling_mean_pricing,60_days_rolling_mean_pricing,120_days_rolling_mean_pricing,5_days_exp_rolling_mean_pricing,10_days_exp_rolling_mean_pricing,...,quantile_0.25_360_days_moving_neg_sent,quantile_0.35_360_days_moving_neg_sent,quantile_0.50_360_days_moving_neg_sent,quantile_0.65_360_days_moving_neg_sent,quantile_0.75_360_days_moving_neg_sent,quantile_0.9_360_days_moving_neg_sent,mean_360_days_moving_neg_sent,sum_360_days_moving_neg_sent,count_360_days_moving_neg_sent,std_360_days_moving_neg_sent
0,2007-01-11,1.2984,1.2988,-0.030798,1.30160,1.31030,1.296322,1.284909,1.302419,1.307191,...,0.0,0.0,0.000,0.000,0.000,0.000,0.000000,0.000,1,0.000000
1,2007-01-12,1.2893,1.2984,-0.700863,1.29778,1.30750,1.296937,1.285123,1.298046,1.303938,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,2,0.000000
2,2007-01-15,1.2941,1.2893,0.372295,1.29648,1.30521,1.297600,1.285418,1.296730,1.302149,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,5,0.000000
3,2007-01-16,1.2953,1.2941,0.092729,1.29518,1.30204,1.298253,1.285598,1.296254,1.300904,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,6,0.000000
4,2007-01-17,1.2909,1.2953,-0.339690,1.29360,1.29882,1.298738,1.285802,1.294469,1.299085,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,7,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967,2022-07-11,1.0098,1.0163,-0.639575,1.01816,1.03253,1.055547,1.084537,1.019291,1.028329,...,0.0,0.0,0.028,0.086,0.124,0.208,0.072720,9684.884,133180,0.097419
3968,2022-07-12,1.0042,1.0098,-0.554565,1.01320,1.02734,1.054278,1.083448,1.014261,1.023942,...,0.0,0.0,0.029,0.086,0.124,0.208,0.072762,9726.542,133677,0.097461
3969,2022-07-13,1.0067,1.0042,0.248954,1.01100,1.02284,1.053007,1.082417,1.011741,1.020807,...,0.0,0.0,0.029,0.086,0.124,0.208,0.072826,9766.486,134107,0.097483
3970,2022-07-14,1.0005,1.0067,-0.615874,1.00750,1.01902,1.051537,1.081365,1.007994,1.017115,...,0.0,0.0,0.030,0.086,0.125,0.208,0.072965,9824.078,134641,0.097548
3971,2022-07-15,1.0059,1.0005,0.539730,1.00542,1.01536,1.050273,1.080350,1.007296,1.015076,...,0.0,0.0,0.030,0.087,0.125,0.208,0.073032,9864.442,135070,0.097588

In [98]:
df_merged = df_merged.dropna()
df_merged

,date,eur_usd_rate,previous_eur_pricing,percent_change_pricing,5_days_rolling_mean_pricing,10_days_rolling_mean_pricing,60_days_rolling_mean_pricing,120_days_rolling_mean_pricing,5_days_exp_rolling_mean_pricing,10_days_exp_rolling_mean_pricing,...,quantile_0.25_360_days_moving_neg_sent,quantile_0.35_360_days_moving_neg_sent,quantile_0.50_360_days_moving_neg_sent,quantile_0.65_360_days_moving_neg_sent,quantile_0.75_360_days_moving_neg_sent,quantile_0.9_360_days_moving_neg_sent,mean_360_days_moving_neg_sent,sum_360_days_moving_neg_sent,count_360_days_moving_neg_sent,std_360_days_moving_neg_sent
482,2008-11-28,1.2727,1.2900,-1.341085,1.28292,1.27237,1.341445,1.438181,1.279211,1.276193,...,0.0,0.0,0.000,0.087,0.133,0.261,0.078260,112.616,1560,0.110818
504,2009-01-02,1.3866,1.3917,-0.366458,1.40312,1.40719,1.313785,1.397583,1.397314,1.390840,...,0.0,0.0,0.000,0.112,0.167,0.259,0.083836,134.976,1719,0.112459
505,2009-01-05,1.3582,1.3866,-2.048175,1.39466,1.40242,1.313537,1.395662,1.384276,1.384905,...,0.0,0.0,0.000,0.112,0.174,0.259,0.084422,136.089,1721,0.112831
509,2009-01-09,1.3684,1.3617,0.492032,1.35620,1.37966,1.312830,1.387983,1.365252,1.370211,...,0.0,0.0,0.000,0.100,0.156,0.268,0.083736,137.327,1747,0.112483
510,2009-01-12,1.3394,1.3684,-2.119263,1.35244,1.37355,1.312445,1.386027,1.356635,1.364609,...,0.0,0.0,0.132,0.331,0.000,0.157,0.083919,139.054,1762,0.112634
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3967,2022-07-11,1.0098,1.0163,-0.639575,1.01816,1.03253,1.055547,1.084537,1.019291,1.028329,...,0.0,0.0,0.028,0.086,0.124,0.208,0.072720,9684.884,133180,0.097419
3968,2022-07-12,1.0042,1.0098,-0.554565,1.01320,1.02734,1.054278,1.083448,1.014261,1.023942,...,0.0,0.0,0.029,0.086,0.124,0.208,0.072762,9726.542,133677,0.097461
3969,2022-07-13,1.0067,1.0042,0.248954,1.01100,1.02284,1.053007,1.082417,1.011741,1.020807,...,0.0,0.0,0.029,0.086,0.124,0.208,0.072826,9766.486,134107,0.097483
3970,2022-07-14,1.0005,1.0067,-0.615874,1.00750,1.01902,1.051537,1.081365,1.007994,1.017115,...,0.0,0.0,0.030,0.086,0.125,0.208,0.072965,9824.078,134641,0.097548
3971,2022-07-15,1.0059,1.0005,0.539730,1.00542,1.01536,1.050273,1.080350,1.007296,1.015076,...,0.0,0.0,0.030,0.087,0.125,0.208,0.073032,9864.442,135070,0.097588

In [99]:
#check that all days with just 1 tweet have std=0
#np.unique(df_merged[df_merged["count_neg_sent"] == 1]["std_neg_sent"]) == 0

In [100]:
'''
##plot the metrics
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

#for each metric
for metric in metrics_sentiment:
    
    #open a plot with two panels
    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))

    #plot scatter against date and eur pricing
    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_neg_sent"], s=0.5)
    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_neg_sent"], s=0.5)
    
    #set ylabel
    ax1.set_ylabel(metric + " negative sentiment")
    ax1.set_xlabel("Year")
    ax2.set_ylabel(metric + " negative sentiment")
    ax2.set_xlabel("Percent change in EUR/USD exchange rate")
    
    #close
    plt.show()
'''

'\n##plot the metrics\nimport matplotlib.pyplot as plt\nfrom matplotlib.pyplot import figure\n\n#for each metric\nfor metric in metrics_sentiment:\n    \n    #open a plot with two panels\n    fig, (ax1, ax2) = plt.subplots(1,2, figsize=(15,4))\n\n    #plot scatter against date and eur pricing\n    ax1.scatter(x=df_merged["date"], y=df_merged[metric + "_neg_sent"], s=0.5)\n    ax2.scatter(x=df_merged["percent_change_pricing"], y=df_merged[metric + "_neg_sent"], s=0.5)\n    \n    #set ylabel\n    ax1.set_ylabel(metric + " negative sentiment")\n    ax1.set_xlabel("Year")\n    ax2.set_ylabel(metric + " negative sentiment")\n    ax2.set_xlabel("Percent change in EUR/USD exchange rate")\n    \n    #close\n    plt.show()\n'

Mean shows that low currency values tend to be associated with high negative sentiment. As the value increase, there is more variation. With more negative but specially much more less negative days. This is even clearer for max. The main difference is that high currency values are associated with a lot of 0 negative days.

It seems that once economic problems arise, then worries extend across economic agents and hence twitter, making less likely to have positive/neutral tweets.

In [101]:
#save the final data.frame with all metrics and eur pricing
df_merged.to_csv("results/sentiment_ecb_pricing.csv.gz", compression="gzip", index=False)
#df_merged = pd.read_csv("results/sentiment_ecb_pricing.csv.gz", compression="gzip")

#### SAVE ONLY SENTIMENT DATA AND THEN MERGE EUR AND TWITTER IN THE LAST NOTEBOOK